<template>
    <!-- =========================
    START CONNECTION SECTION
============================== -->
    <section class="chat_area">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <div class="chat_left_sidebar">
                        <div class="chat_left_heading" v-if="auth">
                            <div class="chat_left_img">
                                <a href="#"><img :src="auth.avater" alt=""></a>
                                <span></span>
                            </div>
                            <h2>{{auth.name}}</h2>
                            <p>{{auth.email}}</p>
                            <div class="chat_heading_dropdown">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul>
                                            <li><a href="#">Content</a></li>
                                            <li><a href="#">Content</a></li>
                                            <li><a href="#">Content</a></li>
                                            <li><a href="#">Content</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left_sidebar_search">
                            <div class="left_sidebar_search_inner">
                                <form action="#">
                                    <input type="text" name="googlesearch" placeholder="Search on start new chat">
                                    <input type="submit" id="searchsubmit" value="Search">
                                </form>
                            </div>
                        </div>
                        <div class="chat_left_tab">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">Chatting</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">Friends</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="chat_left_tab_content">
                                        <ul v-if="chatFriendLists && chatFriendLists.length">
                                            <li :class="{'active':key===activeChatIndex}"
                                                v-for="(friend, key) in chatFriendLists"
                                                :key="key">
                                                <a @click="activeChatting(key)">
                                                    <img :src="friend.avater" alt="">
                                                    <h2>{{friend.name}}</h2>
                                                    <template v-if="friend.last_chat">
                                                        <p>{{friend.last_chat.message}}</p>
                                                        <p class="date">
                                                            {{friend.last_chat.created_at | moment("from")}}
                                                        </p>
                                                    </template>
                                                </a>
                                            </li>
                                        </ul>
                                        <div v-else>You are not chatting with anyone</div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="chat_left_tab_content">
                                        <ul v-if="friendLists && friendLists.length">
                                            <li v-for="(friend, key) in friendLists"
                                                :class="{'active':key===activeChatIndex}"
                                                :key="key">
                                                <a @click="activeChatting(key, true)">
                                                    <img :src="friend.avater" alt="">
                                                    <h2>{{friend.name}}</h2>
                                                    <p v-if="friend.online">Online</p>
                                                    <p v-else>Offline</p>
                                                    <!--<p class="date">
                                                        Yesterday at 8.10pm
                                                    </p>
                                                    <span>2</span>-->
                                                </a>
                                            </li>
                                        </ul>
                                        <div v-else>No connection available</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 no-padding">
                    <chat-box v-if="activeFriend && activeFriend.id" :friend="activeFriend"></chat-box>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        END CONNECTION SECTION
    ============================== -->
</template>

<script>
    import ChatBox from "../components/common/ChatBox";

    export default {
        name: "Chatting",

        components: {ChatBox},

        data() {
            return {
                activeChatIndex: 0,
                activeFriend: {},
            }
        },

        computed: {
            friendLists() {
                return this.$store.getters.friends;
            },
            chatFriendLists() {
                let friends = this.$store.getters.chatFriends;

                if (this.$route.query.active && friends.length) {
                    this.activeFriend = friends.find((element)=> {
                        return element.user_name === this.$route.query.active;
                    });
                } else if (friends.length) {
                    this.activeFriend = friends[this.activeChatIndex];
                }

                return friends;
            },
            auth() {
                return this.$store.getters.authUser;
            }
        },

        created() {
            if (!this.friendLists.length)
                this.$store.dispatch('friendLists');

            if (!this.chatFriendLists.length)
                this.$store.dispatch('chatFriendLists');
        },

        methods: {
            activeChatting(index, friend = false) {
                this.activeFriend = {};
                this.activeChatIndex = index;

                if (friend) {
                    this.activeFriend = this.friendLists[index];
                } else {
                    this.activeFriend = this.chatFriendLists[index];
                }

                console.log(this.activeFriend);
            }
        }
    }
</script>

<style scoped>
    img {
        max-width: 40px;
        max-height: 40px;
    }
</style>