<template>
    <div>
        <banner-role-header v-if="$route.path.indexOf('profile/'+auth.user_name) > -1"></banner-role-header>

        <right-side-chat-box v-if="!$route.path.includes('chatting')"></right-side-chat-box>

        <section class="connection_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <sidebar></sidebar>
                    </div>
                    <div class="col-md-9">
                        <div class="alert alert-danger resend_email" role="alert"
                             v-if="auth && !auth.email_verified_at">
                            Please verify your email first!
                            <button class="btn btn-sm btn-info" @click="resendEmail" v-if="!loading">Resend
                                Email
                            </button>
                            <button v-if="loading" class='btn btn-sm btn-info'>
                                <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                            </button>
                            <span class="alert alert-info" v-if="message">{{message}}</span>
                        </div>
                        <router-view></router-view>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Sidebar from "../components/common/Sidebar";
    import RightSideChatBox from "../components/common/RightSideChatBox";
    import BannerRoleHeader from "../components/common/BannerRoleHeader";

    export default {
        name: "LeftMenuPages",
        components: {BannerRoleHeader, RightSideChatBox, Sidebar},
        data: function () {
            return {
                selectedGroup: 'profile',
                selectedSidebar: 'personal',
                message: '',
                loading: false,
            }
        },
        methods: {
            isSelect(selectedSidebar) {
                return this.selectedSidebar === selectedSidebar;
            },
            resendEmail() {
                this.loading = true;
                axios.get('/email/resend').then(response => {
                    if (response.data) {
                        this.message = 'Please check your email for verify';
                        this.loading = false;
                    }
                }).catch(err => {
                    this.loading = false;
                })
            },
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>