<template>
    <div>
        <div class="student_list_area" v-if="notifications.length">
            <h2>Recent</h2>
            <template v-for="(notification, key) in notifications">
                <div class="student_list_inner"
                     :class="{active:notification.read_at}"
                     :key="key"
                     @click="notification.read_at?setAsUnread(key):setAsRead(key)">
                    <a href="#"><img src="../../images/author6.jpg" alt=""></a>
                    <h2 v-if="notification.data">
                        <template v-if="notification.data.message">{{notification.data.message}} by</template>

                        <router-link v-if="notification.data.module==='message'"
                                     :to="'/chatting?active='+notification.data.from.user_name">
                            {{notification.data.from.name}}
                        </router-link>

                        <router-link v-else :to="'/profile/'+notification.data.from.user_name">
                            {{notification.data.from.name}}
                        </router-link>

                    </h2>
                    <span>{{notification.created_at|moment("from")}}</span>
                    <div class="chat_heading_dropdown student_list_dropdown">
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span></span></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul>
                                    <li><a @click="setAsRead(key)">Mark As Read</a></li>
                                    <li><a @click="setAsUnread(key)">Mark As Unread</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <pagination :pagination="pagination" @paginate="notificationList"></pagination>
        </div>
        <div v-else> No notification available</div>
    </div>
</template>

<script>
    import api from "../config/api";
    import Pagination from "../components/common/Pagination";

    export default {
        name: "Notifications",
        components: {Pagination},
        data() {
            return {
                notifications: [],
                pagination: {current_page: 1}
            }
        },
        computed: {
            count() {
                return this.$store.getters.count;
            }
        },
        created() {
            this.notificationList();
        },
        methods: {
            notificationList() {
                axios.get(api.notificationList + '?page=' + this.pagination.current_page).then(res => {
                    this.notifications = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },
            setAsRead(key) {
                axios.patch(api.notificationList + this.notifications[key].id + '/read',
                    {read: true}).then(res => {
                    if (res.data) {
                        let counter = this.count;
                        this.notifications[key].read_at = new Date();
                        this.$store.dispatch('actionUpdateNotificationCount', --counter)
                    }
                });
            },
            setAsUnread(key) {
                axios.patch(api.notificationList + this.notifications[key].id + '/unread',
                    {read: true}).then(res => {
                    if (res.data) {
                        let counter = this.count;
                        this.notifications[key].read_at = null;
                        this.$store.dispatch('actionUpdateNotificationCount', ++counter)
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>