<template>
    <section class="student_profile_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="student_profile_left">
                        <h2 v-if="user.role_id===3 && user.institute">{{user.institute.title}}</h2>
                        <h2 v-else>{{user.name}}</h2>
                        <div class="student_left_author">
                            <img :src="user.avater" alt="">
                            <div class="student_left_author_text">
                                <template v-if="user.role_id!==3">
                                    <!--<p v-if="user.educations && user.educations.length && user.educations[user.educations.length]">{{user.educations[user.educations.length].title}}
                                        <br>Charlotte, NC 28270 <br> Grad Year: 2018</p>-->
                                    <p v-if="user.address">{{user.address.address}}</p>
                                </template>
                                <template v-else>
                                    <p v-if="user.institute && user.institute.education_level">
                                        {{user.institute.education_level.title}}
                                        <!--<br>Charlotte, NC 28270 <br> Grad Year: 2018--></p>
                                    <p v-if="user.address && user.address.length">
                                        {{user.address[user.address.length-1].address}}</p>
                                </template>

                                <a href="mailto:thetelantedmireya@gmail.com">{{user.email}}</a>
                                <!-- <h2><span><img src./../../images/trophy.png" alt=""> Honors/Advanced Courses</span>
                                 </h2>-->
                            </div>
                        </div>
                    </div>
                    <div class="student_profile_left_list">
                        <div class="clearfix"></div>

                        <template v-if="user.courses && user.courses.length">
                            <h2>Courses</h2>
                            <div class="student_profile_left_list_item">
                                <div class="student_profile_left_list_item_inner" v-for="course in user.courses">
                                    <img src="../../images/student-profile-img2.png" alt="">
                                    <h2>{{course.title}}</h2>
                                    <p v-if="course.education_level">Level: {{course.education_level.title}}</p>
                                    <p v-if="course.licence">Licence:<span>{{course.licence.title}}</span></p>
                                    <p v-if="course.service_modes && course.service_modes.length"
                                       class="student_profile_left_border">
                                        Services Mode: <template v-for="mode in course.service_modes">{{mode.mode}}, </template>
                                    </p>
                                </div>
                            </div>
                        </template>

                        <template v-if="user.educations && user.educations.length">
                            <h2>Education</h2>
                            <div class="student_profile_left_list_item">
                                <div class="student_profile_left_list_item_inner" v-for="education in user.educations">
                                    <img src="../../images/student-profile-img2.png" alt="">
                                    <h2 v-if="education.institute">{{education.institute.title}}</h2>
                                    <p>{{education.level}}</p>
                                    <p>Completion:<span>{{education.completion_date}}</span></p>
                                    <p>Grade: {{education.grade}}</p>
                                    <p class="student_profile_left_border"><span>{{education.title}}</span></p>
                                </div>
                            </div>
                        </template>

                        <template v-if="user.role_id===3 && user.institute && user.institute.programs">
                            <h2>Education Programs</h2>
                            <div class="student_profile_left_list_item">
                                <div class="student_profile_left_list_item_inner"
                                     v-for="program in user.institute.programs">
                                    <img src="../../images/student-profile-img2.png" alt="">
                                    <h2>{{user.institute.title}}</h2>
                                    <p>Fee:<span>{{program.fee}}</span></p>
                                    <p>Description:<span>{{program.description}}</span></p>
                                    <p class="student_profile_left_border">Admission Date:<span>{{program.admission_date}}</span>
                                    </p>
                                </div>
                            </div>
                        </template>

                        <template v-if="user.ielts && user.ielts.length">
                            <h2>IELTS / Tofel Scores</h2>
                            <div class="student_profile_left_list_item" v-for="ielts in user.ielts">
                                <div class="student_profile_left_list_item_inner">
                                    <img src="../../images/student-profile-img2.png" alt="">
                                    <h2 v-if="ielts.exam_level">{{ielts.exam_level.title}}</h2>
                                    <p>Grade {{ielts.grade}}</p>
                                    <p>Taken on <span>{{ielts.taken_on}}</span></p>
                                    <p>Score {{ielts.score}}</p>
                                    <!--<p class="student_profile_left_border"><span>Got best performance award</span></p>-->
                                </div>
                            </div>
                        </template>
                        <template v-if="user.interests && user.interests.length">
                            <h2>Interests</h2>
                            <div class="student_profile_left_list_item clearfix ">
                                <ul>
                                    <li v-for="interest in user.interests">{{interest.title}}</li>
                                </ul>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import api from "../config/api";

    export default {
        data() {
            return {
                user: {}
            }
        },

        created() {
            this.userDetails();
        },
        methods: {
            userDetails() {
                axios.get(api.userPublicProfile + this.$route.params.userName)
                    .then(res => {
                        this.user = res.data;
                    })
            }
        }
    }
</script>

<style scoped>
    .student_left_author img{
        max-height: 211px;
        max-width: 211px;
    }

</style>