<template>
    <div class="analysis_area connector_area">
        <div class="row">
            <div class="col-md-6">
                <div class="connector_social">
                    <h1>Connect With</h1>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="connector_search">
                    <h1>Search & Add Topic</h1>
                    <div class="analysis_search">
                        <input type="text" v-model="query" class="form-control"
                               placeholder="Topic or Text to Listen...">
                        <button @click="searchPopulatedData">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Connectors</h1>
        <div class="connector_main_content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Topics</th>
                    <th>Records Fetched</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="topics">
                    <tr v-for="(topic, key) in topics" :key="key">
                        <td>{{topic.search_query}}</td>
                        <td>{{topic.total}}</td>
                        <td>{{actioveAction[key]}}</td>
                        <td>
                            <select class="form-control" v-model="actioveAction[key]" @change="callQueueServer(key)">
                                <option v-for="action in actions" :value="action.title">{{action.action}}</option>
                            </select>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="analyse_social_area">
            <div class="analyse_social_menu">
                <ul class="clearfix">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="social_analyse_description_area">
                <div class="social_analyse_desc_inner">
                    <img src="images/analysis5.png" alt="">
                    <h2>School Project</h2>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator....</p>
                    <span>10-May-2018 08:00 PM</span>
                </div>
                <div class="social_analyse_desc_inner">
                    <img src="images/analysis5.png" alt="">
                    <h2>School Project</h2>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator....</p>
                    <span>10-May-2018 08:00 PM</span>
                </div>
                <div class="social_analyse_desc_inner">
                    <img src="images/analysis5.png" alt="">
                    <h2>School Project</h2>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator....</p>
                    <span>10-May-2018 08:00 PM</span>
                </div>
                <div class="social_analyse_desc_inner">
                    <img src="images/analysis5.png" alt="">
                    <h2>School Project</h2>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator....</p>
                    <span>10-May-2018 08:00 PM</span>
                </div>
                <div class="social_analyse_desc_inner">
                    <img src="images/analysis5.png" alt="">
                    <h2>School Project</h2>
                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum
                        generator....</p>
                    <span>10-May-2018 08:00 PM</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SocialMediaConnector",
        data() {
            return {
                query: '',
                topics: [],
                actions: [
                    {
                        title: 'Listening',
                        action: 'Start'
                    },
                    {
                        title: 'Pause',
                        action: 'Resume'
                    },
                    {
                        title: 'Stop',
                        action: 'Stop'
                    },
                ],
                actioveAction: [],
            }
        },
        created() {
            axios.get('/twitter/topics/')
                .then(res => {
                    this.topics = res.data;
                    this.topics.forEach((value, key,) => {
                        this.$set(this.actioveAction, key, 'Stop');
                    })
                })
        },
        methods: {
            searchPopulatedData() {
                axios.get('/twitter/populate-training-data/' + this.query)
                    .then(res => {
                        console.log(res.data);
                    })
            },
            callQueueServer(key) {
                alert('call');

            }
        }
    }
</script>

<style scoped>

</style>
