<template>
    <div class="analysis_area">
        <h2>Search & Add Topic</h2>
        <div class="analysis_search">
            <input v-model="query" type="text" class="form-control" placeholder="Topic or Text to Listen...">
            <button @click="searchPopulatedData">Search</button>
        </div>
        <div class="analyse_chart_area">
            <div class="row">
                <div class="col-md-7">
                    <div class="analyse_chart_inner">
                        <h2>Sentiment Trends Chart</h2>
                        <apex-charts type="line" height="300" :options="options" :series="seriesData"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="analyse_chart_inner">
                        <h2>User Sentiment Analysis</h2>
                        <apex-charts width="380" type="donut" :options="options" :series="seriesBar"></apex-charts>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="analyse_chart_inner">
                        <h2>Sentiment Trends Chart</h2>
                        <img src="../../images/analysis6.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="analyse_chart_inner">
                        <h2>Predicted Sentiment Analysis</h2>
                        <apex-charts width="280" type="radialBar" :options="plotOptions" :series="series"></apex-charts>
                    </div>
                </div>
            </div>
        </div>
        <div class="analyse_user_area">
            <h2>Users Mentions <span>(Who said Negative things)</span></h2>
            <div class="row">
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
            </div>
        </div>
        <div class="analyse_user_area">
            <h2>Users Mentions <span>(Who said Positive things)</span></h2>
            <div class="row">
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
                <div class="col analyse_user_padding">
                    <a href="#"><img src="../../images/analysis4.png" alt=""></a>
                    <p>Name 1</p>
                </div>
            </div>
        </div>
        <h2>Blast Message to Users</h2>
        <div class="analyse_msg_box">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message for the users..."></textarea>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group Common_form_group">
                        <select class="form-control">
                            <option>Select all useers (Positive or Negative Reviews)</option>
                            <option>Saab</option>
                            <option>Opel</option>
                            <option>Audi</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <button>Send</button>
                </div>
            </div>
        </div>
        <div class="analyse_social_area">
            <div class="analyse_social_menu">
                <tabs>
                    <tab name="facebook">
                        <h1>Facebook news feed</h1>
                    </tab>
                    <tab name="twitter" :selected="true">
                        <div class="social_analyse_description_area">
                            <tweets :items="items" v-if="items.length"></tweets>
                        </div>
                    </tab>
                    <tab name="linkedin">
                        <h1>linkedin news feed</h1>
                    </tab>
                    <tab name="instagram">
                        <h1>instagram feed</h1>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</template>

<script>
    import ApexCharts from 'vue-apexcharts'
    import Tabs from "../components/finds/common/tabs";
    import Tab from "../components/finds/common/tab";
    import Tweets from "../components/finds/common/twitter/tweets";

    export default {
        name: "SocialMediaDashboard",
        components: {Tweets, Tab, Tabs, ApexCharts},
        data() {
            return {
                query: '',
                items: [],
                options: {},
                seriesBar: [44, 55, 25],
                series: [12, 60, 44],
                seriesData: [{
                    data: [34, 44, 54, 21, 10, 43, 11, 23, 66, 66, 58]
                }, {
                    data: [11, 77, 44, 20, 1, 43, 99, 23, 55, 77, 88]
                }],
                plotOptions: {
                    radialBar: {
                        dataLabels: {
                            total: {
                                show: true,
                                label: 'TOTAL'
                            }
                        }
                    }
                },
            }
        },
        mounted(){
            this.searchPopulatedData();
        },
        methods: {
            searchPopulatedData() {
                axios.get('/twitter/init-tweets-for-twitter-timeline')
                    .then(res => {
                        this.items = res.data;
                    })
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>

</style>