<template>
    <section class="student_timeline_area">
       <right-side-chat-box></right-side-chat-box>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="student_timeline_left text-center">
                        <img :src="auth.avater" alt="">
                        <h2>{{auth.name}}</h2>
                        <template v-if="auth.educations && auth.educations[0]">
                            <p>{{auth.educations[0].title}}</p>
                            <p v-if="auth.educations[0].institute">{{auth.educations[0].institute.title}}</p>
                        </template>
                        <h3>{{count}}</h3>
                        <p class="f_15">Connections</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="student_main_timeline">
                        <post-form @addPost="addPost"></post-form>
                        <ul class="student_timeline_list clearfix" v-if="posts.length">
                            <template v-for="post in posts">
                                <single-post :post="post"></single-post>
                            </template>
                        </ul>
                        <div v-else>No posts available</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SinglePost from "../components/timeline/SinglePost";
    import PostForm from "../components/timeline/PostForm";
    import api from "../config/api";
    import RightSideChatBox from "../components/common/RightSideChatBox";

    export default {
        components: {RightSideChatBox, PostForm, SinglePost},
        data() {
            return {
                posts: [],
                count:0
            }
        },
        created() {
            axios.get(api.postInTimeLine).then(res => {
                console.log(res);
                this.posts = res.data.data;
            });
            axios.get(api.friendListCount).then(res => {
                this.count = res.data;
            })
        },
        methods: {
            addPost(data) {
                this.posts.unshift(data);
            }
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        },

    }
</script>

<style scoped>

</style>