<template>
    <transition name="fade">
        <div class='institute_address_block'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height="auto"
                    width="60%"
                    name="institute_address">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            {{edit_id?'Update' :'Create'}} Address
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6 mx-auto'>
                                <div class='form-group row'>
                                    <label class='col-md-4 col-form-label text-md-right'>Country</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <multiselect
                                                v-model="country"
                                                :options="countries"
                                                placeholder="Select one"
                                                :show-labels="false"
                                                label="title"
                                                track-by="title">
                                        </multiselect>


                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6 mx-auto'>
                                <div class='form-group row'>
                                    <label for='city' class='col-md-3 col-form-label text-md-right'>City</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model='address.city' type='text' name='city' id='city'
                                               v-validate="'required'"
                                               class="form-control"/>
                                        <span class='d-block text-danger' v-show="errors.has('city')">{{ errors.first('city') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12 mx-auto'>
                                <div class='form-group row'>
                                    <label class='col-md-2 col-form-label text-md-right'>Address</label>
                                    <div class='col-md-10 address Common_form_group'>
                                        <vue-google-autocomplete
                                                id="map"
                                                name="address"
                                                required="required"
                                                data-vv-name="address"
                                                data-vv-as="address"
                                                data-vv-value-path="address"
                                                placeholder="Start typing"
                                                @keyup="getTextInput"
                                                :value=address.address
                                                v-on:placechanged="getAddressData"
                                                :country="country.code">
                                        </vue-google-autocomplete>
                                        <span class='d-block text-danger' v-show="errors.has('address')">{{ errors.first('address') }}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3 address-us">
                                    <button v-if="!loading" class="btn btn-primary" @click="store">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>

            <div class='card'>
                <div class='card-header'>
                    <div class="float-left">
                        Branches
                    </div>
                    <div class="float-right">
                        <div v-if="isEditable" class='d-flex justify-content-end'>
                            <button @click="openAddress" class="btn btn-primary"><i
                                    class='fa fa-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='card-body'>

                    <div v-if="addresses.length" class='table-responsive'>
                        <table class='table table-bordered'>
                            <tr>
                                <th>Address</th>
                                <th v-if="isEditable">action</th>
                            </tr>
                            <tr v-for="item in addresses">
                                <td>{{item.address}}</td>
                                <td v-if="isEditable">
                                    <button @click="editAddress(item.id)" class="btn btn-primary"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="deleteAddress(item.id)" class="btn btn-warning"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                        <!-- /.table table-bordered -->
                    </div>
                    <h2 v-else class="text-center">No address record found</h2>
                </div>
                <!-- /.card-body -->
                <!-- /.card-header -->
            </div>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height='auto'
                    width="60%"
                    name="social_info_modal">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update social profile
                        </div>
                        <div class="float-right">
                            <i @click="close_social_info_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body'>
                        <div class='form-group row'>
                            <label for='facebook' class='col-md-3 col-form-label text-md-right'>Facebook URL</label>
                            <div class="col-md-9">
                                <input v-model='social.facebook_url' v-validate="'url'" type='text' name='facebook'
                                       id='facebook'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('facebook')">{{ errors.first('facebook') }}</span>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label for='twitter' class='col-md-3 col-form-label text-md-right'>Twitter</label>
                            <div class="col-md-9">
                                <input v-model='social.twitter_url' v-validate="'url'" type='text' name='twitter'
                                       id='twitter'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('twitter')">{{ errors.first('twitter') }}</span>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label for='instragram' class='col-md-3 col-form-label text-md-right'>Instragram</label>
                            <div class="col-md-9">
                                <input v-model='social.instragram_url' v-validate="'url'" type='text' name='instragram'
                                       id='instragram'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('instragram')">{{ errors.first('instragram') }}</span>
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label for='google' class='col-md-3 col-form-label text-md-right'>Google</label>
                            <div class="col-md-9">
                                <input v-model='social.google_url' v-validate="'url'" type='text' name='google'
                                       id='google'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('google')">{{ errors.first('google') }}</span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-10'>
                                <div class="d-flex justify-content-end  mt-3">
                                    <button v-if="!social_loading" class="btn btn-primary"
                                            @click="post_social_media_details">
                                        Save
                                    </button>
                                    <button v-if="social_loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>
            <div class='card mt-4'>
                <div class='card-header'>
                    Social media details
                </div>
                <div class='card-body'>
                    <div v-if="isEditable" class='d-flex justify-content-end'>
                        <button @click="open_social_info_modal" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <div v-if="hasFieldInSocialUrl">
                        <p v-if='social.facebook_url'>Facebook: {{social.facebook_url}}</p>
                        <p v-if='social.twitter_url'>Twitter: {{social.twitter_url}}</p>
                        <p v-if='social.instragram_url'>Instragram: {{social.instragram_url}}</p>
                        <p v-if='social.google_url'>Google: {{social.google_url}}</p>
                    </div>
                    <div v-if="!hasFieldInSocialUrl">
                        No Social link found
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    import api from "../../config/api";
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    import Multiselect from 'vue-multiselect'

    export default {
        components: {VueGoogleAutocomplete, Multiselect},
        data() {

            return {
                address: {
                    country: '',
                    city: '',
                    address: '',
                    lat: '',
                    lng: '',
                },
                manualAddress: '',
                country: {
                    code: 'us'
                },
                edit_id: '',
                loading: false,
                fErrors: {},
                addresses: [],
                social: {
                    facebook_url: 'hello',
                    twitter_url: '',
                    instragram_url: '',
                    google_url: '',
                },
                social_loading: false,
                social_success: false,
                social_error: false,
            }
        },
        mounted() {
            this.get_social_media_details();
            this.$store.dispatch('countryListAction');
            this.addressList();

            let recaptchaScript = document.createElement('script');
            recaptchaScript.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBkIwy8vc2Q-_wqNPoAQdY7n6KWaenSu2w&libraries=places');
            document.head.appendChild(recaptchaScript)
        },
        methods: {
            open_social_info_modal() {
                this.$modal.show('social_info_modal')
            },
            close_social_info_modal() {
                this.$modal.hide('social_info_modal')
            },
            get_social_media_details() {
                axios.get(api.socialList + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data)
                    this.social = response.data;
                })
            },
            post_social_media_details() {
                this.social_loading = true;
                axios.post(api.storeSocial, this.social).then(response => {
                    console.log('response', response);
                    this.social_loading = false;
                    if (response.data.error) {
                        this.social_error = true;
                    } else {
                        this.social_success = true;
                        this.close_social_info_modal();
                    }
                }).catch(error => {
                    this.loading = false;
                })
            },
            store() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.address.country_id = this.country.id;
                        if (this.edit_id) {
                            this.updateAddress();
                        } else {
                            this.edit_id = '';
                            this.postAddress();
                        }
                    }
                });
            },
            updateAddress() {

                axios.put(api.address + '/' + this.edit_id, this.address).then(response => {
                    this.loading = false;
                    this.edit_id = '';
                    this.address = {};
                    this.closeModal();
                    this.addressList();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    console.log(this.fErrors);
                    this.loading = false;
                })

            },
            postAddress() {
                axios.post(api.address, this.address).then(response => {
                    this.loading = false;
                    this.address = {};
                    this.closeModal();
                    this.addressList();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            addressList() {
                axios.get(api.address + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data);
                    this.addresses = response.data;
                })
            },
            deleteAddress(id) {
                axios.delete(api.address + '/' + id).then(response => {
                    this.addressList();
                })
            },
            editAddress(id) {
                let address = this.addresses.find(address => address.id === id);
                this.address = {...address};
                this.edit_id = address.id;
                this.openAddress();
            },

            openAddress() {
                this.$modal.show('institute_address');
            },
            closeModal() {
                this.$modal.hide('institute_address');
                this.edit_id = '';
            },
            getAddressData(addressData, placeResultData, id) {
                this.address.address = placeResultData.formatted_address;
                this.address.lat = addressData.latitude;
                this.address.lng = addressData.longitude;
                this.address.city = addressData.locality ? addressData.locality : this.address.city;
            },
            getTextInput(e) {
                this.address.address = e.target.value;
            }
        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            hasFieldInSocialUrl() {
                return this.social.facebook_url || this.social.twitter_url || this.social.instragram_url || this.social.google_url;
            },
            countries() {
                return this.$store.getters.countries;
            }
        },
    }
</script>
<style>
    .multiselect__tags {
        padding: 4px 26px 0 4px;
    }
</style>
