<template>
    <transition name="fade">
        <div class='institute_author_user'>
            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height="auto"
                    width="60%"
                    name="institute_author_user">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Tell us your department
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <author-user-details></author-user-details>
                    </div>
                </div>
            </modal>
        </div>
    </transition>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import AuthorUserDetails from "./AuthorUserDetails";

    export default {
        components: {AuthorUserDetails, Multiselect},
        name: "FirstLogin",
        data() {
            return {
                author: {},
                formErrors: {}
            }
        },
        methods: {
            closeModal() {
                this.$modal.hide('user_courses');
                this.edit_id = '';
            },
            openModal() {
                this.$modal.show('institute_author_user');
            },
        },
        mounted() {
            this.openModal();
        }
    }
</script>

<style scoped>

</style>