<template>
    <transition name="fade">
        <div class='user_programs_block'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height="auto"
                    width="60%"
                    name="user_programs">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            {{edit_id?'Update' :'Create'}} program
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='title' class='col-md-4 col-form-label text-md-right'>Program
                                        title</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input class="form-control"
                                               type='text'
                                               v-model='program.title'
                                               name='title'
                                               v-validate="'required'"
                                               placeholder="program title"
                                               id='title'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['title']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['title']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='fee' class='col-md-4 col-form-label text-md-right'>Fee</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input class="form-control"
                                               type='text'
                                               v-model='program.fee'
                                               name='title'
                                               v-validate="'required'"
                                               placeholder="program fee"
                                               id='fee'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('fee')">{{ errors.first('fee') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['fee']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['fee']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='admission_date' class='col-md-4 col-form-label text-md-right'>Admission
                                        date</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input v-model='program.admission_date'
                                               class="form-control"
                                               type='date'
                                               v-validate="'required|date_format:YYYY-MM-DD'"
                                               data-vv-as="admission date"
                                               name='admission_date' id='admission_date'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('admission_date')">{{ errors.first('admission_date') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['admission_date']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['admission_date']">{{ error}}</span>
                                        </template>

                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='education_level_id' class='col-md-4 col-form-label text-md-right'>Education
                                        Level</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <multiselect
                                                id="education_level_id"
                                                v-model="program.education_level"
                                                :options="educationLevels"
                                                placeholder="Select one"
                                                tag-placeholder="append"
                                                label="title"
                                                :show-labels="false"
                                                track-by="title"
                                                :taggable="true"
                                                @tag="addNewEducationLevelAction"
                                        >
                                        </multiselect>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ">
                                <label for='address_id' class='col-md-2 col-form-label text-md-right'>Branch</label>
                                <div class='col-md-10 Common_form_group'>
                                    <multiselect
                                            id="address_id"
                                            v-model="program.address"
                                            :options="addresses"
                                            placeholder="Select one"
                                            label="address"
                                            :show-labels="false"
                                            track-by="address"
                                            :taggable="true"
                                    >
                                    </multiselect>
                            </div>
                        </div>
                        <div class='row'>
                                <label for='description'
                                       class='col-md-2 col-form-label text-md-right'>Description</label>
                                <div class='col-md-10 Common_form_group'>
                                    <textarea name="description" class="form-control" rows="2"
                                              v-model="program.description" id="description"></textarea>
                                </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button v-if="!loading" class="btn btn-warning mr-3" @click="program={}">
                                        Reset
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="store">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </modal>

            <div class='card'>
                <div class='card-header'>
                    <div class="float-left">
                        My programs
                    </div>
                    <div class="float-right">
                        <div v-if="isEditable" class='d-flex justify-content-end'>
                            <button @click="openProgram" class="btn btn-primary"><i
                                    class='fa fa-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='card-body'>

                    <div v-if="programs.length" class='table-responsive'>
                        <table class='table table-bordered'>
                            <tr>
                                <th>Title</th>
                                <th>Admission Date</th>
                                <th>Fee</th>
                                <th>Education Level</th>
                                <th>Branch</th>
                                <th>Description</th>
                                <th v-if="isEditable">action</th>
                            </tr>
                            <tr v-for="item in programs">
                                <td>{{item.title}}</td>
                                <td>{{item.admission_date}}</td>
                                <td>{{item.fee}}</td>
                                <td>{{item.education_level?item.education_level.title:''}}</td>
                                <td>{{item.address?item.address.address:''}}</td>
                                <td>{{item.description}}</td>
                                <td v-if="isEditable">
                                    <button @click="editProgram(item.id)" class="btn btn-primary"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="deleteProgram(item.id)" class="btn btn-warning"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                        <!-- /.table table-bordered -->
                    </div>
                    <h2 v-if="!programs.length" class="text-center">No program record found</h2>
                </div>
                <!-- /.card-body -->
                <!-- /.card-header -->
            </div>
        </div>
    </transition>
</template>
<script>
    import api from "../../config/api";
    import Multiselect from 'vue-multiselect'

    export default {
        components: {Multiselect},
        data() {

            return {
                program: {},
                programs: [],
                edit_id: '',
                loading: false,
                fErrors: {},
                addresses: []
            }
        },
        mounted() {
            this.programList();
            this.addressList();
            this.$store.dispatch('setEducationLevelAction');

        },
        methods: {
            store() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.program.address_id = this.program.address.id;
                        this.program.education_level_id = this.program.education_level.id;
                        if (this.edit_id) {
                            this.updateProgram();
                        } else {
                            this.edit_id = '';
                            this.postProgram();
                        }
                    }
                });
            },
            updateProgram() {
                axios.put(api.institutePrograms + '/' + this.edit_id, this.program).then(response => {
                    this.loading = false;
                    this.edit_id = '';
                    this.program = {};
                    this.closeModal();
                    this.programList();
                }).catch(err => {
                    if (err.response && err.response.data && err.response.data.errors) {
                        this.fErrors = err.response.data.errors;
                    }
                    console.log(this.fErrors);
                    this.loading = false;
                })

            },
            postProgram() {
                console.log(this.program);
                axios.post(api.institutePrograms, this.program).then(response => {
                    this.loading = false;
                    this.program = {};
                    this.closeModal();
                    this.programList();
                }).catch(err => {
                    if (err.response && err.response.data && err.response.data.errors) {
                        this.fErrors = err.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            programList() {
                axios.get(api.institutePrograms).then(response => {
                    console.log('response', response.data);
                    this.programs = response.data;
                })
            },
            deleteProgram(id) {
                axios.delete(api.institutePrograms + '/' + id).then(response => {
                    this.programList();
                })
            },
            editProgram(id) {
                let program = this.programs.find(program => program.id === id);
                this.program = {...program};
                this.edit_id = program.id;
                this.openProgram();
            },

            openProgram() {
                this.$modal.show('user_programs');
            },
            closeModal() {
                this.$modal.hide('user_programs');
                this.edit_id = '';
            },
            addNewEducationLevelAction(newEducationLevel) {
                this.$store.dispatch('addNewEducationLevelAction', {title: newEducationLevel})
            },
            addressList() {
                axios.get(api.address + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data);
                    this.addresses = response.data;
                })
            },

        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            requireIf() {
                return !this.program.continue ? 'required' : '';
            },
            educationLevels() {
                return this.$store.getters.educationLevels;
            }
        },
    }
</script>
<style>
    .multiselect__tags {
        padding: 4px 26px 0 4px;
    }
</style>
