<template>
    <div class="custom_connection_img_area">
        <div class="custom_connection_img_wrapper clearfix">
            <div class="custom_connection_img">
                <template v-if="invitation.model">
                    <router-link :to="{ name: 'userPublicProfile', params: { userName: invitation.model.user_name }}">
                        <img :src="invitation.model.avater" alt="">
                    </router-link>
                    <h2>
                        <template v-if="invitation.model.name">
                            <router-link :to="{ name: 'userPublicProfile',
                            params: { userName: invitation.model.user_name }}">
                                {{invitation.model.name}}
                            </router-link>
                        </template>
                        <template v-else>{{invitation.model.title}}</template>
                    </h2>
                    <p v-if="invitation.model.description">{{invitation.model.description}}</p>

                    <template v-if="invitation.program">
                        <span><img src="../../../../images/connection_ic9.png"
                                   alt="">{{invitation.program.title}}</span>
                    </template>

                    <template v-if="invitation.model.institute">
                        <span><img src="../../../../images/connection_ic9.png" alt="">{{invitation.model.institute.title}}</span>
                    </template>

                    <!-- <template v-if="invitation.program">
                         <span><img src="../../../../images/connection_ic9.png" alt="">{{invitation.program.title}}</span>
                     </template>-->
                    <template v-if="invitation.model.address">
                            <span>
                             <img src="../../../../images/connection_ic10.png" alt="" v-if="invitation.model.address">

                            <template
                                    v-if="typeof invitation.model.address==='object' && invitation.model.address.country">
                               {{invitation.model.address.city}},  {{invitation.model.address.country.title}}
                            </template>

                            <template
                                    v-if="invitation.model.address.length && invitation.model.address.constructor ===Array && invitation.model.address[0].country">
                                {{invitation.model.address[0].city}}, {{invitation.model.address[0].country.title}}
                            </template>

                            </span>
                    </template>
                </template>
            </div>
            <div class="connection_msg">
                <a v-if="invitation.accept">Accepted</a>
                <a @click="acceptRequest" :class="{'disabled':invitation.ignore}" v-else>Accept</a>
                <a v-if="invitation.ignore">Ignored</a>
                <a @click="ignoreRequest" :class="{'disabled':invitation.accept}" v-else>Ignore</a>
            </div>
        </div>
        <slot></slot>
    </div>
</template>

<script>
    import api from "../../../config/api";

    export default {
        name: "SingleInvitation",
        props: {
            invitation: {
                required: true,
                type: Object
            }
        },
        methods: {
            ignoreRequest() {
                axios.patch(api.ignoreInvitationRequest,
                    {id: this.invitation.id, status: false}).then(res => {
                    if (res.data)
                        this.$set(this.invitation, 'ignore', true)
                });
            },
            acceptRequest() {
                axios.patch(api.acceptInvitationRequest,
                    {id: this.invitation.id, status: true}).then(res => {
                    if (res.data)
                        this.$set(this.invitation, 'accept', true)
                });
            },
        }
    }
</script>

<style scoped>
    .custom_connection_img a img {
        max-height: 47px;
        max-width: 47px;
    }
</style>