<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"></navigation>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="analysis_area">
                    <div class="authorization">
                        <h2>Explore Social Media</h2>
                        <div class="analyse_social_menu">
                            <ul class="clearfix">
                                <li><a href="#">Connect Facebook</a></li>
                                <li><a href="/twitter/login/">Connect Twitter</a></li>
                                <li><a href="#">Connect Linkedin</a></li>
                                <li><a href="#">Connect Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <br>
                    <h2>
                        Upon login by relevant social media account that tab will be shown on the user
                        Only logged in user can search or perform others action
                    </h2>

                    <div class="analysis_search">
                        <input type="text" v-model="query" class="form-control" placeholder="Search Keyword, User or Hashtag">
                        <button @click="searchData">Search</button>
                    </div>
                    <div class="analyse_social_area">
                        <div class="analyse_social_menu">
                            <tabs>
                                <tab name="facebook">
                                    <h1>Facebook news feed</h1>
                                </tab>
                                <tab name="twitter" :selected="true">
                                    <div class="social_analyse_description_area">
                                        <tweets :query="query" v-if="auth && auth.id" ref="searchData"></tweets>
                                    </div>
                                </tab>
                                <tab name="linkedin">
                                    <h1>linkedin news feed</h1>
                                </tab>
                                <tab name="instagram">
                                    <h1>instagram feed</h1>
                                </tab>
                            </tabs>
                        </div>
                    </div>
                    <div class="analyse_msg_box">
                        <div>
                            <div class="row">
                                <div class="form-group Common_form_group">
                                    <VueMultiselect
                                            v-model="user"
                                            :options="users"
                                            placeholder="Search user to send message"
                                            :show-labels="false"
                                            track-by="id">
                                    </VueMultiselect>
                                </div>
                            </div>
                        </div>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Message for the users..."></textarea>
                        <div class="row">
                            <div class="col-md-7">
                            </div>
                            <div class="col-md-5">
                                <button>Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Navigation from "./Navigation";
    import VueMultiselect from "vue-multiselect/src/Multiselect";
    import Tabs from "./tabs";
    import Tab from "./tab";
    import Tweets from "./twitter/tweets";

    export default {
        name: "SocialMediaLink",
        components: {Tweets, Tab, Tabs, VueMultiselect, Navigation},
        data() {
            return {
                user: '',
                users: [
                    'test1',
                    'test6',
                    'test5',
                    'test4',
                    'test3',

                ],
                authenticated: {},
                query:''
            }
        },
        mounted() {
            this.socialAuthenticate();
        },
        methods: {
            socialAuthenticate() {
                axios.get('/social/authentication')
                    .then(res => {
                        this.authenticated = res.data;
                    })
            },
            searchData(){
                this.$refs.searchData.getRelatedSearchData()
            }
        },
        computed:{
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style>
    .analyse_social_area .analyse_social_menu li a {
        opacity: 0.5;
    }

    .analyse_social_area .analyse_social_menu ul .is-active a {
        opacity: 1;
    }
</style>