<template>
    <ul class="all_comment clearfix">
        <template v-for="comment in comments">
            <single-comment :comment="comment"></single-comment>
        </template>
    </ul>
</template>

<script>
    import SingleComment from "./SingleComment";

    export default {
        props: {
            comments: {
                required: true,
                type: Array
            }
        },
        components: {SingleComment}
    }
</script>

<style scoped>

</style>