<template>
    <div class="top_comment">
        <router-link :to="{ name: 'userPublicProfile', params: { userName: auth.user_name }}">
            <img :src="auth.avater" alt="">
        </router-link>
        <textarea placeholder="Add a comment...."
                  @keyup.enter="postComment"
                  name="comment"
                  v-validate="'required'"
                  data-vv-as="comment"
                  class="form-control"
                  v-model="body"></textarea>
        <span class='d-block text-danger' v-show="errors.has('comment')">{{ errors.first('comment') }}</span>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        props: {
            post_id: {
                required: true,
                type: Number
            }
        },
        data() {
            return {
                body: ''
            }
        },
        methods: {
            postComment() {
                axios.post(api.postInTimeComment, {
                    body: this.body,
                    post_id: this.post_id
                }).then(res => {
                    this.$emit('addedComment', res.data);
                    this.body = '';
                });
            }
        },
        computed:{
            auth(){
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>
    img{
        max-height: 40px;
        max-width: 40px;
    }
</style>