<template>
    <div class="student_timeline_inner_box">
        <div class="timeline_main_post clearfix">
            <ul>
                <li>
                    <a @click="postText=true">Make Post</a>
                </li>
                <li>
                    <a @click="postText=false">Live Video</a>
                </li>
            </ul>

            <form @submit.prevent="postTimeLine">
                <template v-if="postText">
                    <textarea name="post" id=""
                              cols="30"
                              rows="10"
                              class="form-control"
                              v-validate="'required'"
                              placeholder="What’s on your mind?" v-model="body">
                    </textarea>
                    <span class='d-block text-danger' v-show="errors.has('post')">{{ errors.first('post') }}</span>
                </template>
                <template v-else>
                    <div class="form-group image-div">
                        <input id="image_upload"
                               name="video"
                               @change="handleFileChange()"
                               accept="video/mp4,video/x-m4v,video/*"
                               ref="file"
                               v-validate="'required' | 'mimes:video/*'"
                               type="file">
                        <label id="image_upload_label" for="image_upload">
                            <i class="fa fa-file-video-o" aria-hidden="true"></i> Upload a Video
                        </label>
                    </div>
                    <div v-if="file"
                         class='form-group'>
                        <p>{{file.name}}
                            <span @click="removeFile" class="span_times">
                                <i class='fa fa-times'></i>
                            </span>
                        </p>
                    </div>
                    <div>
                        <span class='d-block text-danger' v-show="errors.has('video')">{{ errors.first('video') }}</span>

                        <template v-if="this.formErrors && this.formErrors['file']">
                                <span class='d-block text-danger'
                                      v-for="error in this.formErrors['file']">{{ error}}</span>
                        </template>
                    </div>
                    <div class='form-group mt-4'>
                        <label for='video_title'>Video title</label>
                        <input v-model="body"
                               type='text'
                               v-validate="'required'"
                               class='form-control'
                               name='title'
                               id='video_title'/>
                        <span class='d-block text-danger' v-show="errors.has('title')">{{ errors.first('title') }}</span>
                        <label v-if="formErrors.title" class='d-block text-danger'>title is required</label>
                    </div>
                </template>
                <button type="submit">post</button>
            </form>
        </div>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        data() {
            return {
                body: '',
                postText: true,
                file: '',
                loading: false,
                formErrors: {},
                uploadPercentage: 0,
            }
        },
        methods: {
            postTimeLine() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        if (this.postText) {

                            axios.post(api.postInTimeLine, {body: this.body}).then(res => {
                                this.$emit('addPost', res.data);
                                this.body = '';
                            });

                        } else {
                            let formData = new FormData();
                            formData.append('file', this.file);
                            formData.append('body', this.body);
                            this.loading = true;
                            axios.post(api.postInTimeLine + '/video', formData,
                                {
                                    headers: {
                                        'Content-Type': 'multipart/form-data'
                                    },
                                    onUploadProgress: (load) => {
                                        this.uploadPercentage = parseInt(Math.round((load.loaded * 100) / load.total));
                                    }
                                }
                            ).then(res => {
                                this.$emit('addPost', res.data);
                                this.body = '';
                                this.file = '';
                            }).catch(err => {
                                if (err.response.data && err.response.data.errors) {
                                    this.formErrors = err.response.data.errors;
                                }
                            });
                        }
                    }
                });

            },
            handleFileChange() {
                this.file = this.$refs.file.files[0];
            },
            removeFile() {
                this.file = '';
            },
        }
    }
</script>

<style scoped>

</style>