<template>
    <li>
        <div class="top_post">
            <h2>
                <span v-if="post.user">
                    <router-link :to="{ name: 'userPublicProfile', params: { userName: post.user.user_name }}">
                        <img :src="post.user.avater" alt="">
                        <template v-if="post.user.institute">{{post.user.institute.title}}</template>
                        <template v-else>{{post.user.name}}</template>
                    </router-link>
                </span>
                <span>{{localTime(post.created_at)}}</span>
            </h2>
            <p v-if="post.body">{{post.body}}</p>
            <div v-if="post.video">
                <video width='400' height="300"
                       controls
                       :src="'/storage/uploads/videos/'+post.video.filename"></video>
            </div>
        </div>
        <comment-form :post_id="post.id" @addedComment="addedComment"></comment-form>
        <comments v-if="post.comments" :comments="post.comments"></comments>
    </li>
</template>

<script>
    import Comments from "./Comments";
    import CommentForm from "./CommentForm";

    export default {
        props: {
            post: {
                required: true,
                type: Object
            }
        },
        name: "SinglePost",
        components: {CommentForm, Comments},
        methods: {
            localTime(create) {
                return this.$moment.utc(create).local().fromNow();
            },
            addedComment(data) {
                if (!this.post.comments)
                    this.$set(this.post, 'comments', []);


                console.log(data, this.post.comments);

                this.post.comments.unshift(data);
            }
        }
    }
</script>

<style scoped>
    img {
        max-width: 45px;
        max-height: 45px;
    }
</style>