<template>
    <section class="banner_area student_banner text-center">
        <h2 v-if="auth.role"><span>{{auth.role.title}} </span>Profile</h2>
    </section>
</template>

<script>
    export default {
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>

</style>