<template>
    <div>
        <div class="chat_box" v-if="friend">
            <div class="chat_box_title">
                <div class="chat_box_img">
                    <img :src="friend.avater" alt="">
                </div>
                <h2>{{friend.name}}</h2>
            </div>
            <div class="message_area mCustomScrollbar" ref="messageDisplay">
                <ul v-if="activeChatHistory.length">
                    <template v-for="history in activeChatHistory">
                        <li :class="{'message_auth_user':history.from===auth.id}">
                            <img :src="history.from===auth.id?auth.avater:friend.avater" alt="">
                            <div class="message_text">
                                <p class="message_text_details">{{history.message}}</p>
                                <p class="message_date">
                                    {{history.created_at | moment("MMMM DD, YYYY hh:mm:ss a")}}
                                </p>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="msg_textarea">
                <textarea class="form-control"
                          v-model="message"
                          @keyup="showTheTyping"
                          rows="1"
                          :placeholder="isTyping?'typing...':'Type and hit enter to sent message'"
                          @keyup.enter="sendMessage">
                </textarea>
                <button class="btn btn-primary" type="submit" @click="sendMessage">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>

        </div>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        name: "ChatBox",
        props: {
            friend: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                message: '',
                activeChatHistory: [],
                isTyping: false,
                auth: window.auth

            }
        },
        methods: {
            chattingHistory(friendId) {
                axios(api.activeChatFriendHistory + friendId).then(res => {
                    this.activeChatHistory = res.data;
                });
            },
            sendMessage() {
                axios.post(api.sendMessageToFriend, {
                    message: this.message,
                    friend_id: this.friend.id
                }).then(res => {
                    this.activeChatHistory.push(res.data);
                    this.message = '';
                })
            },
            showTheTyping() {
                this.channel.whisper('typing');
            }
        },
        mounted() {
            this.chattingHistory(this.friend.id);

            this.channel
                .listen('SendMessageEvent', e => {
                    if (e.chatting)
                        this.activeChatHistory.push(e.chatting);
                })
                .listenForWhisper('typing', e => {
                    this.isTyping = true;
                    if (timer)
                        clearInterval(timer);

                    let timer = setTimeout(() => {
                        this.isTyping = false;
                    }, 5000);

                    console.log(this.isTyping);
                });
        },
        watch: {
            friend: function (newQuestion, oldQuestion) {
                this.chattingHistory(newQuestion.id);
            }
        },
        computed: {
            channel() {
                return window.Echo.private('chats.' + (this.auth.id < this.friend.id ?
                    this.auth.id + '-' + this.friend.id :
                    this.friend.id + '-' + this.auth.id));
            }
        },
        updated(){
            var elem = this.$refs.messageDisplay;
            elem.scrollTop = elem.scrollHeight;
        },
    }
</script>

<style scoped>

</style>