<template>
    <header class="header_area" v-if="auth">
        <nav class="navbar navbar-dark navbar-expand-md justify-content-between">
            <div class="container custom_container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <router-link class="nav-link" to="/home">Home</router-link>
                        </li>

                        <li class="nav-item">
                            <router-link class="nav-link" :to="'/profile/'+auth.user_name">Profile</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link
                                    class="nav-link"
                                    :to="(auth.role_id===api.SCHOOL_ROLE?{name:'Find Student'}:
                                    (auth.role_id===api.STUDENT_ROLE?{name:'Find Institute'}:
                                    {name:'Find Tutors'}))">
                                Connections
                            </router-link>
                        </li>
                    </ul>
                </div>
                <router-link to="/home" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                    <img src="../../../images/logo.png" alt=""></router-link>
                <div class="navbar-collapse collapse dual-nav w-50 order-2 right_nav">
                    <ul class="nav navbar-nav ml-auto">

                        <li class="nav-item">
                            <router-link class="nav-link" to="/chatting">Chat</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="header_search">
                    <a href="#"><img src="../../../images/search_ic.png" alt=""></a>
                    <router-link to="/notifications" v-if="count">
                        <i class="fas fa-bell"></i> <span>{{count}}</span>
                    </router-link>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
    import api from "../../config/api";

    export default {
        name: "Headers",
        props: ['userId'],

        data() {
            return {
                api: api
            }
        },
        created() {
            this.$store.dispatch('setAuthUserDataAction');
            this.$store.dispatch('setProfileIdAction', this.userId);
            this.countNotification();
        },
        computed: {
            auth() {
                return this.$store.getters.authUser;
            },
            count(){
                return this.$store.getters.count;
            }
        },
        methods:{
            countNotification() {
                this.$store.dispatch('actionNotificationCount')
            }
        },
        watch:{
            auth:function () {
                if(this.auth.id){
                    Echo.private('App.User.' + this.auth.id)
                        .notification((notification) => {
                            this.countNotification();
                        });
                }
            }
        }
    }
</script>

<style scoped>

</style>