<template>
    <transition name="fade">
        <div class="invitation-message">
            <modal
                    transition="scale"
                    :draggable="true"
                    height="auto"
                    width="50%"
                    @before-close="beforeClose"
                    name="invitation_message">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left" v-if="invitationSend">
                            Connection invitation send, Will you like to talk them over social media?
                        </div>
                        <div class="float-left" v-else>
                            You can send your Personal Message
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body'
                         v-if="invitationSend && invitedTo.social_connect && invitedTo.social_connect.length">

                        <!--Facebook-->
                        <template v-for="social in invitedTo.social_connect">
                            <a v-if="social.option_key==='facebook_url'" target="_blank" :href="social.option_value"
                               type="button" class="btn btn-fb">
                                <i class="fab fa-facebook-square"></i>Facebook
                            </a>
                            <!--Twitter-->
                            <a v-if="social.option_key==='twitter_url'" target="_blank" :href="social.option_value"
                               type="button" class="btn btn-tw">
                                <i class="fab fa-twitter-square"></i> Twitter
                            </a>
                            <!--Google +-->
                            <a v-if="social.option_key==='google_url'" target="_blank" :href="social.option_value"
                               type="button" class="btn btn-gplus">
                                <i class="fab fa-google-plus-square"></i>Google +
                            </a>
                        </template>
                    </div>

                    <div class='card-body' v-else>
                        <p>Include a personal message (optional)</p>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class='form-group row'>
                                    <div class='col-md-12'>
                                        <textarea class="form-control" v-model="message" name="message" id="message"
                                                  cols="20" rows="5" placeholder="type here">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button class="btn btn-danger mr-3" @click="closeModal">
                                        Cancel
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="sendInvitation">
                                        Send Invitation
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            item: {
                required: true,
                type: Object
            },
            model: {
                required: true,
                type: String,
                default: 'user'
            },
            api: {
                required: true,
                type: String,
            }

        },
        data() {
            return {
                loading: false,
                message: '',
                invitationSend: false,
                invitedTo: {}
            }
        },
        mounted() {
            this.openModal();
        },
        methods: {
            openModal() {
                this.$modal.show('invitation_message');
            },
            closeModal() {
                this.$modal.hide('invitation_message')
            },
            sendInvitation() {
                this.loading = true;
                axios.post(this.api, {
                    message: this.message,
                    item: this.item.id,
                    model: this.model
                }).then(res => {
                    if (res.data) {
                        this.invitationSend = true;
                        this.$emit('successfullyInvited');
                        if (res.data.user) {
                            this.invitedTo = res.data.user;

                            if (!res.data.user.social_connect || !_.size(res.data.user.social_connect)) {
                                this.$emit('closeInvitationMessage');
                            }
                        } else {
                            this.$emit('closeInvitationMessage');
                        }

                    }
                    this.loading = false;

                })
            },
            beforeClose() {
                this.$emit('closeInvitationMessage');
            }
        }
    }
</script>

<style scoped>

</style>