<template>
    <nav aria-label="Page navigation example" v-if="pagination.last_page>1">
        <ul class="pagination connectin_pagination  justify-content-center">
            <li class="page-item" :disabled="pagination.current_page <= 1">
                <a class="page-link" @click.prevent="changePage(1)" role="button" aria-disabled="true">First</a>
            </li>
            <li class="page-item" :disabled="pagination.current_page <= 1">
                <a class="page-link" @click.prevent="changePage(pagination.current_page-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Prev</span>
                </a>
            </li>
            <li class="page-item" v-for="page in pages" :class="isCurrentPage(page) ? 'active' : ''">
                <a class="page-link" @click.prevent="changePage(page)" href="#">{{page}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" @click.prevent="changePage(pagination.current_page+1)"
                   :class="pagination.current_page >= pagination.last_page?'disabled':''" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li class="page-item" :disabled="pagination.current_page >= pagination.last_page">
                <a class="page-link" @click.prevent="changePage(pagination.last_page)" role="button"
                   aria-disabled="true">Last</a>
            </li>
        </ul>
    </nav>
</template>

<style>
    .pagination {
        margin-top: 40px;
    }
</style>

<script>
    export default {
        props: ['pagination'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.pagination.per_page / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.pagination.per_page - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>
