<template>
    <div>
        <div class="left_sidebar" v-if="activeGroup">
            <div class="left_sidebar_title">
                <h2>{{activeGroup.groups}}</h2>
            </div>
            <div class="left_category" v-if="activeGroup.menus && activeGroup.menus.length">
                <ul>
                    <li v-for="menu in activeGroup.menus">
                        <router-link v-if="menu.permissions"
                                     :to="{name:menu.route_name, params:{userName:authUser.user_name}}">
                            {{menu.title}}
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>

        <div class="left_menu">
            <ul id="menu-content" class="menu-content" v-if="sidebarMenus">
                <template v-for="(groups, key) in sidebarMenus">
                    <template v-if="activeGroup.groups !==groups.groups">
                        <li v-if="groups.permissions" :key="key" @click="activeMenu(key)">
                            <a> {{groups.groups}}</a>
                        </li>
                    </template>
                </template>
            </ul>
        </div>
    </div>
</template>

<script>
    import sidebarMenu from "../../config/sidebarMenu";

    export default {
        name: "Sidebar",
        data() {
            return {
                selectedGroup: 'profile',
                selectedSidebar: 'personal',
                menus: sidebarMenu,
                showMenu: 0,
                submenus: [],
                activeGroup: false
            }
        },
        computed: {
            sidebarMenus() {
                if (this.$store.getters.roleId) {
                    this.menus.forEach((value, key) => {
                        if (value.menus && value.menus.length) {
                            value.menus.forEach((v, k) => {
                                this.menus[key].menus[k].permissions = _.includes(v.role_id, "*") || _.includes(v.role_id, this.$store.getters.roleId);
                            });
                        }
                        this.menus[key].permissions = _.includes(value.role_id, "*") || _.includes(value.role_id, this.$store.getters.roleId);
                    });
                    return this.menus;
                }
            },
            authUser() {
                return this.$store.getters.authUser;
            }
        },
        methods: {
            toggleSidebar(key) {
                if (!this.sidebarMenus[key].menus) {
                    this.$router.push({
                        name: this.sidebarMenus[key]['route_name'],
                        params: {userName: this.authUser.user_name}
                    })
                } else {
                    this.showMenu = key;
                }
            },
            activeMenu(key) {
                if (!this.sidebarMenus[key].menus) {
                    this.activeGroup = this.sidebarMenus[key];
                    this.$router.push({
                        name: this.sidebarMenus[key]['route_name'],
                        params: {userName: this.authUser.user_name}
                    })
                } else {
                    if (this.sidebarMenus[key].menus.length) {
                        for (let i = 0; i < this.sidebarMenus[key].menus.length; i++) {
                            if (this.sidebarMenus[key].menus[i].permissions) {
                                this.$router.push({
                                    name: this.sidebarMenus[key].menus[i].route_name,
                                    params: {userName: this.authUser.user_name}
                                });
                                this.activeGroup = this.sidebarMenus[key];
                                break;
                            }

                        }

                    }
                }
            }
        },
        watch: {
            sidebarMenus: function (newValue, oldValue) {

                if (this.sidebarMenus && this.sidebarMenus.length && newValue !== oldValue) {
                    this.sidebarMenus.forEach(value => {
                        if (value.permissions) {

                            if (value.menus) {
                                value.menus.forEach(v => {
                                    if (v.route_name === this.$router.currentRoute.name && v.permissions)
                                        this.activeGroup = value;
                                });
                            } else {
                                if (value.route_name === this.$router.currentRoute.name)
                                    this.activeGroup = value;
                            }

                            if (!this.activeGroup)
                                this.activeGroup = value;
                        }

                    });
                }

            },
            $route(to, from) {
                if (this.sidebarMenus && this.sidebarMenus.length) {
                    this.sidebarMenus.forEach(value => {
                        if (value.permissions) {

                            if (value.menus) {
                                value.menus.forEach(v => {
                                    if (v.route_name === to.name && v.permissions)
                                        this.activeGroup = value;
                                });
                            } else {
                                if (value.route_name === to.name)
                                    this.activeGroup = value;
                            }

                            if (!this.activeGroup)
                                this.activeGroup = value;
                        }

                    });
                }
            },
        }
    }
</script>

<style scoped>
    #sidebar_metis_menu i {
        display: inline-block;
        margin-right: 10px;
    }

    #sidebar_metis_menu li .show-sidebar-menu {
        display: block;
    }

    #sidebar_metis_menu li ul {
        display: none;
    }

    a {
        cursor: pointer;
    }
</style>

