<template>
    <div class="msg_popup" v-if="friend">
        <div class="msg_popup_title">
            <span>{{friend.name}}</span>
            <div class="chat_heading_dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul>
                            <li><a href="#">Block Messagae</a></li>
                            <li>
                                <router-link :to="{ name: 'userPublicProfile', params: { userName: friend.user_name }}">
                                    Profile
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="close_pop_up">
                <a href="#" @click="closeMessage">
                <img src="../../../images/connection_ic13.png"
                     alt=""></a>
            </span>
        </div>
        <div class="msg_popup_content" v-if="activeChatHistory.length">
            <div class="popup_message_area" ref="messageDisplay">
                <ul>
                    <li v-for="history in activeChatHistory" :class="{'message_auth_user':history.from===auth.id}">
                        <img :src="history.from===auth.id?auth.avater:friend.avater" alt="">
                        <div class="message_text">
                            <p class="message_text_details">{{history.message}}</p>
                            <p class="message_date">
                                {{history.created_at | moment("MMMM DD, YYYY hh:mm:ss a")}}
                            </p>
                        </div>
                    </li>
                    <!-- <li>
                        <img src="../../../images/chat_author2.png" alt="">
                        <div class="message_text">
                            <p class="message_text_details">Lorem ipsum dolor sit amet</p>
                            <p class="message_date">
                                September 16, 2018 03:43 AM
                            </p>
                        </div>
                    </li> -->
                </ul>

            </div>
        </div>
        <div class="popup_msg_textarea">
            <textarea class="form-control"
                      v-model="message" rows="2"
                      @keyup="showTheTyping"
                      :placeholder="isTyping?'typing...':'send message'"
                      @keyup.enter="sendMessage">
            </textarea>
            <p v-show="isTyping">typing...</p>
            <!--<div class="popup_upload">
                <button><img src="../../../images/connection_ic11.png" alt="">
                </button>
                <input type="file" name="myfile"/>
            </div>
            <div class="popup_emoji">
                <button><img src="../../../images/connection_ic12.png" alt=""></button>
                <div class="popup_emoji_content">
                    <a href="#"><i class="far fa-smile"></i></a>
                    <a href="#"><i class="fas fa-smile-wink"></i></a>
                    <a href="#"><i class="far fa-smile-beam"></i></a>
                    <a href="#"><i class="far fa-smile"></i></a>
                    <a href="#"><i class="fas fa-smile-wink"></i></a>
                    <a href="#"><i class="far fa-smile-beam"></i></a>
                    <a href="#"><i class="far fa-smile"></i></a>
                    <a href="#"><i class="fas fa-smile-wink"></i></a>
                </div>
            </div>-->
        </div>
    </div>
</template>

<script>
    import api from "../../config/api";

    export default {
        props: {
            friend: {
                required: true,
                type: Object
            }
        },
        data() {
            return {
                message: '',
                activeChatHistory: [],
                auth: window.auth,
                isTyping: false

            }
        },
        methods: {
            chattingHistory(friendId) {
                axios(api.activeChatFriendHistory + friendId).then(res => {
                    this.activeChatHistory = res.data;
                });
            },
            sendMessage() {
                axios.post(api.sendMessageToFriend, {
                    message: this.message,
                    friend_id: this.friend.id
                }).then(res => {
                    this.activeChatHistory.push(res.data);
                    this.message = '';
                })
            },
            closeMessage() {
                console.log('Message');
                this.$emit('closeChat')
            },
            showTheTyping() {
                this.channel.whisper('typing');
            }
        },
        mounted() {
            this.chattingHistory(this.friend.id);

            this.channel
                .listen('SendMessageEvent', e => {
                    if (e.chatting)
                        this.activeChatHistory.push(e.chatting);
                })
                .listenForWhisper('typing', e => {
                    this.isTyping = true;
                    if (timer)
                        clearInterval(timer);

                    let timer = setTimeout(() => {
                        this.isTyping = false;
                    }, 5000);

                    console.log(this.isTyping);
                });
        },
        watch: {
            friend: function (newQuestion, oldQuestion) {
                this.chattingHistory(newQuestion.id);
            }
        },
        computed: {
            channel() {
                return window.Echo.private('chats.' + (this.auth.id < this.friend.id ?
                    this.auth.id + '-' + this.friend.id :
                    this.friend.id + '-' + this.auth.id));
            }
        },
        updated(){
            var elem = this.$refs.messageDisplay;
            elem.scrollTop = elem.scrollHeight;
        },
    }
</script>