<template>
    <div>
        <h2>Start chatting</h2>
        <input type="text" name="message" v-model="message"/>
        <button @click="sendMessage">send</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: ''
            }
        },
        methods: {
            startChat() {
                Echo.private(`Chat.2`).listen(
                    "PrivateChatEvent",
                    e => {
                        console.log(e);
                    }
                );
            },
            sendMessage() {
                axios.post('/json/send-message/' + '2', {
                    message: this.message
                }).then(res => {
                    console.log(res)
                })
            }
        },
        created() {
            this.startChat();

            Echo.join(`Chat`)
                .here(users => {

                })
                .joining(user => {
                    return true;
                });
        }
    }
</script>

<style scoped>

</style>