<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>
<style>
    .connection_program_inner_img img{
        max-width: 47px;
        max-height: 47px;
    }
</style>