<template>

    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <div class="row">
                            <form @submit.prevent="findCourses">
                                <div class="row custom_connection_form">
                                    <div class="col-sm-12">
                                        <h2>What kind of teacher are you looking for?</h2>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group has_error">
                                            <input v-model="find.title" type="text" class="form-control"
                                                   placeholder="teacher Name">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group has_error">
                                            <input v-model="find.course" type="text" class="form-control"
                                                   placeholder="Subjects">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group has_error">
                                            <input v-model="find.interest" type="text" class="form-control"
                                                   placeholder="Interests">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <location-form ref="refLocation"></location-form>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.keyArea" name="title" placeholder="Key primary area">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.commonValue" name="title" placeholder="Common value">
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="button_submit float-right">
                                            <button class="form_submit" type="submit">Search</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="courses.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="connection_program">
                <div class="row">
                    <template v-for="(course, key) in courses">
                        <div class="col-md-6" :key="key" v-if="course.user">
                            <div class="connection_program_inner" >
                                <div class="connection_program_inner_img">
                                    <router-link :to="{ name: 'userPublicProfile',
                                        params: { userName: course.user.user_name }}">
                                        <img :src="course.user.avater" :alt="course.user.name">
                                    </router-link>

                                    <h2>{{course.user.name | strLimit}}<br>
                                        <template v-if="course.user.address ">
                                            <template v-if="course.user.address.length &&
                                            course.user.address.constructor ===Array &&
                                             course.user.address[0].country">
                                                {{course.user.address[0].city +', '+
                                                course.user.address[0].country.title |
                                                strLimit}}
                                            </template>

                                            <template v-if=" typeof course.user.address==='object' &&
                                        course.user.address.country">
                                                {{course.user.address.city +', '+course.user.address.country.title |
                                                strLimit}}
                                            </template>
                                        </template>
                                    </h2>
                                </div>
                                <router-link
                                        :to="{ name: 'userPublicProfile',
                                        params: { userName: course.user.user_name }}">
                                    <h2>{{course.title}}</h2>
                                </router-link>

                                <p v-if="course.user.experiences && course.user.experiences.length">
                                    Experience: {{ totalExperience(key) }} Years</p>
                                <p v-else>Experience: No experience</p>
                                <p class="program_date">Fee: {{course.fee}}</p>
                                <a href="#" v-if="invited[course.id]" class="active connect-btn">Invite Sent</a>
                                <a href="#" v-else class="connect-btn" @click="sendInvitation(course)">Connect</a>
                            </div>
                        </div>
                    </template>
                </div>
                <invitation-message
                        :item="invitationCourse"
                        :api="sendCourseInvitation"
                        @successfullyInvited="successfullyInvited"
                        model='course'
                        @closeInvitationMessage="closeModal"
                        v-if="Object.keys(invitationCourse).length">
                </invitation-message>
            </div>
            <pagination :pagination="pagination" @paginate="findCourses"></pagination>
        </template>
        <template v-if="!courses.length && pagination.total===0">
            <p>No result found</p>
        </template>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";

    export default {
        components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation},
        data() {
            return {
                find: {},
                courses: [],
                invitationCourse: {},
                pagination: {'current_page': 1},
                sendCourseInvitation: api.sendCourseInvitation,
                invited: []
            }
        },
        methods: {
            sendInvitation(course) {
                this.invitationCourse = course;
            },


            findCourses() {
                _.forEach(this.$refs.refLocation.location, (value, key) => {
                    this.find[key] = '';
                    if (value)
                        this.find[key] = value;
                });

                axios.get(api.findTutorCourse + '?page=' + this.pagination.current_page + '&' + this.readyFilter()).then(res => {
                    this.courses = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationCourse = {};
            },
            totalExperience(index) {
                let start = _.first(this.courses[index].user.experiences).from_date;
                let end = _.last(this.courses[index].user.experiences).to_date;
                end = end ? end : this.$moment().format('YYYY-MM-DD');
                return (this.$moment(end).diff(start, 'years', true)).toFixed(2);

            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationCourse.id, true)
            }
        },

    }
</script>
