<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <div class="row custom_connection_form">
                            <form @submit.prevent="findStudents">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2>Do you want to find student from all countries and regions?</h2>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group radio_button radio_button_inline">
                                            <input type="radio"
                                                   value="1"
                                                   id="radio3"
                                                   v-model="findAllOver">
                                            <label for="radio3">Yes</label>
                                        </div>

                                        <div class="form-group radio_button radio_button_inline">
                                            <input type="radio" value="0"
                                                   v-model="findAllOver"
                                                   id="radio4">
                                            <label for="radio4">No</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" v-if="findAllOver!=1">
                                        <location-form ref="refLocation"></location-form>
                                    </div>

                                    <hr>

                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.program" name="title" placeholder="Program">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.score" name="title" placeholder="Score">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.grade" name="title" placeholder="Grade">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.status" name="title" placeholder="Status">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.gpa" name="title" placeholder="Gpa">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="button_submit">
                                            <button class="form_submit" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="students.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="connection_program">
                <div class="row">
                    <div class="col-md-6" v-for="student in students">
                        <div class="connection_program_inner">
                            <div class="connection_program_inner_img">
                                <router-link :to="{ name: 'userPublicProfile',
                                params: { userName: student.user_name }}">
                                    <img :src="student.avater" alt="">
                                </router-link>
                                <router-link :to="{ name: 'userPublicProfile',
                                params: { userName: student.user_name }}">
                                    <h2>{{student.name | strLimit}}<br>
                                        <template v-if="student.address">
                                            <template
                                                    v-if="student.address.length && student.address.constructor ===Array && student.address[0].country">
                                                {{student.address[0].city + ', ' + student.address[0].country.title |
                                                strLimit }}
                                            </template>

                                            <template
                                                    v-if=" typeof student.address==='object' && student.address.country">
                                                {{ student.address.city + ', ' + student.address.country.title |
                                                strLimit }}
                                            </template>
                                        </template>
                                    </h2>
                                </router-link>
                            </div>
                            <h2 v-if="student.last_education && student.last_education.length">
                                {{student.last_education[0].title}}
                                <template v-if="student.last_education[0].institute">
                                    from {{student.last_education[0].institute.title}}
                                </template>
                            </h2>

                            <p v-if="student.last_ielts && student.last_ielts.length">
                                {{student.last_ielts[0].title}}
                                <template v-if="student.last_ielts[0].institute">
                                    from {{student.last_ielts[0].institute.title}}
                                </template>
                            </p>
                            <p class="program_date" v-if="student.profile_options && student.profile_options.length">Age
                                {{student.profile_options[0].option_value|moment("from", true)}}</p>
                            <a href="#" v-if="invited[student.id]" class="active connect-btn">Invite Sent</a>
                            <a v-else href="#" class="connect-btn" @click="sendInvitation(student)">Connect</a>
                        </div>
                    </div>
                </div>
                <invitation-message
                        :api="sendStudentInvitation"
                        :item="invitationStudent"
                        model='user'
                        @closeInvitationMessage="closeModal"
                        @successfullyInvited="successfullyInvited"
                        v-if="Object.keys(invitationStudent).length">
                </invitation-message>
            </div>
            <pagination :pagination="pagination" @paginate="findStudents"></pagination>
        </template>
        <template v-if="!students.length && pagination.total===0">
            <p>No result found</p>
        </template>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";

    export default {
        components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation},
        data() {
            return {
                find: {},
                students: [],
                invitationStudent: {},
                pagination: {'current_page': 1},
                findAllOver: 0,
                invited: [],
                sendStudentInvitation: api.sendStudentInvitation
            }
        },
        methods: {
            findStudents() {

                if (this.findAllOver != 1) {
                    _.forEach(this.$refs.refLocation.location, (value, key) => {
                        this.find[key] = '';
                        if (value)
                            this.find[key] = value;
                    });
                }

                axios.get(api.findStudents + '?page=' + this.pagination.current_page + '&' + this.readyFilter()).then(res => {
                    this.students = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },
            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });
                return query;
            },
            sendInvitation(student) {
                this.invitationStudent = student;
            },
            closeModal() {
                this.invitationStudent = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationStudent.id, true)
            }
        }
    }
</script>

