<template>
    <div class="connection_main_content">
        <navigation class="nav nav-tabs" id="nav-tab" role="tablist"/>
        <div class="tab-content" id="nav-tab2Content">
            <div class="tab-pane fade show active" id="nav-Find" role="tabpanel" aria-labelledby="nav-Find-tab">
                <div class="connection_form_inner">
                    <div class="col-md-12">
                        <div class="row custom_connection_form">
                            <form @submit.prevent="findPrograms">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <h2>What school do you have in mind?</h2>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group Common_form_group has_error">
                                            <input type="text" class="form-control"
                                                   v-model="find.institute"
                                                   placeholder="school name">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <location-form ref="refLocation"></location-form>
                                    </div>

                                    <div class="col-sm-12">
                                        <h2>What program you are interested in?</h2>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group Common_form_group">
                                            <input type="text" class="form-control"
                                                   v-model="find.title" name="title" placeholder="program name">
                                        </div>
                                    </div>

                                    <template v-if="roleId===studentRole">

                                        <div class="col-sm-6">
                                            <div class="form-group Common_form_group">
                                                <input v-model="find.range"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Price Range">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <h2>Are you looking for scholarship?
                                                <div class="form-group radio_button radio_button_inline">
                                                    <input type="radio"
                                                           value="true"
                                                           id="radio3"
                                                           v-model="find.scholarship"
                                                           name="scholarship">
                                                    <label for="radio3">Yes</label>
                                                </div>

                                                <div class="form-group radio_button radio_button_inline">
                                                    <input type="radio" value="false"
                                                           v-model="find.scholarship"
                                                           id="radio4"
                                                           name="scholarship">
                                                    <label for="radio4">No</label>
                                                </div>
                                            </h2>
                                        </div>
                                    </template>
                                    <template v-if="roleId===schoolRole">
                                        <div class="col-sm-6">
                                            <div class="form-group Common_form_group">
                                                <select v-model="find.department" name="department"
                                                        class="form-control">
                                                    <option value="" selected>Select department</option>
                                                    <option v-for="department  in departments" :value="department.id">
                                                        {{department.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group Common_form_group">
                                                <select v-model="find.role" name="role" class="form-control">
                                                    <option value="" selected>Select department</option>
                                                    <option v-for="role  in roles" :value="role.id">{{role.title}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </template>

                                    <div class="col-sm-6">
                                        <div class="button_submit float-right">
                                            <button class="form_submit" type="submit">Search</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="programs.length">
            <p class="find_search_result" v-if="pagination.total">About {{pagination.total}} results</p>

            <div class="connection_program">
                <div class="row">
                    <template v-for="program in programs" v-if="program.institute && program.institute.user">
                        <div class="col-md-6">
                            <div class="connection_program_inner">
                                <div class="connection_program_inner_img">
                                    <router-link
                                            :to="{ name: 'userPublicProfile', params: { userName: program.institute.user.user_name }}">
                                        <img :src="program.institute.user.avater" alt="">
                                    </router-link>
                                    <h2>{{program.institute.title | strLimit}}
                                        <br>
                                        <template v-if="program.address && program.address.country">
                                            {{program.address.city + ', ' + program.address.country.title | strLimit}}
                                        </template>
                                    </h2>
                                </div>
                                <router-link
                                        :to="{ name: 'userPublicProfile', params: { userName: program.institute.user.user_name }}">
                                    <h2>{{program.title}}</h2>
                                </router-link>
                                <p>{{program.description}}</p>
                                <p class="program_date">Admission Date: {{program.admission_date}}</p>
                                <a href="#" v-if="invited[program.id]" class="active connect-btn">Invite Sent</a>
                                <a v-else href="#" class="connect-btn" @click="sendInvitation(program)">Connect</a>
                            </div>
                        </div>
                    </template>
                </div>
                <invitation-message
                        :api="sendProgramInvitation"
                        :item="invitationProgram"
                        model='program'
                        @closeInvitationMessage="closeModal"
                        @successfullyInvited="successfullyInvited"
                        v-if="Object.keys(invitationProgram).length">
                </invitation-message>
            </div>
            <pagination :pagination="pagination" @paginate="findPrograms"></pagination>
        </template>
        <template v-if="!programs.length && pagination.total===0">
            <p>No result found</p>
        </template>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";
    import LocationForm from "./common/LocationForm";

    export default {
        components: {LocationForm, Pagination, InvitationMessage, Multiselect, Navigation},
        data() {
            return {
                find: {
                    role: "",
                    department: ""
                },
                programs: [],
                invitationProgram: {},
                pagination: {'current_page': 1},
                sendProgramInvitation: api.sendProgramInvitation,
                invited: [],
                studentRole: api.STUDENT_ROLE,
                tutorRole: api.TUTOR_ROLE,
                schoolRole: api.SCHOOL_ROLE,
            }
        },
        methods: {
            sendInvitation(program) {
                this.invitationProgram = program;
            },

            findPrograms() {
                _.forEach(this.$refs.refLocation.location, (value, key) => {
                    this.find[key] = '';
                    if (value)
                        this.find[key] = value;
                });

                axios.get(api.findInstitutePrograms + '?page=' + this.pagination.current_page + '&' + this.readyFilter()).then(res => {
                    this.programs = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;

                })
            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationProgram = {};
            },
            successfullyInvited() {
                this.$set(this.invited, this.invitationProgram.id, true)
            }
        },
        computed: {
            roleId() {
                return this.$store.getters.roleId;
            },

            departments() {
                if (this.roleId === this.schoolRole) {
                    return this.$store.getters.departments;
                }
            },

            roles() {
                if (this.roleId === this.schoolRole) {
                    return this.$store.getters.instituteRoles;
                }

            }
        },
        mounted() {
            if (this.roleId === this.schoolRole) {
                this.$store.dispatch('setDepartmentAction');
                this.$store.dispatch('setInstituteRoleAction');
            }
        }

    }
</script>
