<template>
    <div>
        <div class="custom_Connection_area" v-if="invitation && invitation.model">
            <h2>Invitations
                <router-link :to="{name:'User Invitations List'}" tag="button">Manage All</router-link>
            </h2>
            <single-invitation :invitation="invitation">
                <div class="connecton_search_ic clearfix text-center">
                    <router-link :to="{name:'User Invitations List'}">Show More</router-link>
                </div>
            </single-invitation>
        </div>

        <router-view class="custom_connection_main_content"></router-view>
    </div>
</template>

<script>
    import api from "../../config/api";
    import SingleInvitation from "./common/SingleInvitation";

    export default {
        components: {SingleInvitation},
        data() {
            return {
                invitation: {},
                auth: window.auth
            }
        },
        created() {
            this.invitationList();
        },
        methods: {
            invitationList() {
                let inviteFor = '';
                if (auth.role_id === 2)
                    inviteFor = 'student';
                else if (auth.role_id === 3)
                    inviteFor = 'program';
                else if (auth.role_id === 4)
                    inviteFor = 'course';

                axios.get(api.invitationPendingList + '/' + inviteFor + '/first').then(res => {
                    this.invitation = res.data;
                })
            },
        }
    }
</script>

