<template>
    <transition name="fade">
        <div class="connection_main_content">
            <navigation/>
            <div class='find_mutual_fiend card'>
                <div class='card-header'>
                    Find Mutual Friend
                </div>
                <!-- /.card-header -->
                <div class='card-body'>
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <span>What are the common values you need in a friend?</span>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group Common_form_group has_error">
                                    <input type="text" class="form-control" placeholder="Exmapler Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group">
                                        <select>
                                            <option value="" selected>Select gender</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group has_error">
                                    <input type="text" class="form-control" placeholder="Key values">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group has_error">
                                    <input type="text" class="form-control" placeholder="School">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-6">
                                    <div class="form-group Common_form_group has_error">
                                        <input type="text" class="form-control" placeholder="Distance">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <Multiselect
                                            v-if="countries.length"
                                            @input="getStates"
                                            v-model="country"
                                            :options="countries"
                                            placeholder="Select country"
                                            :show-labels="false"
                                            label="title"
                                            track-by="id">
                                    </Multiselect>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group Common_form_group">
                                    <select v-model="find.region" name="region" class="form-control"
                                            @change="getCountriesList">
                                        <option value="" selected>Select region</option>
                                        <option v-for="region  in regions" :value="region.id">{{region.title}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <Multiselect
                                            v-model="state"
                                            :options="states"
                                            placeholder="Select state"
                                            :show-labels="false"
                                            label="title"
                                            track-by="id">
                                    </Multiselect>
                                </div>
                            </div>
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="button_submit">
                                    <button class="form_submit" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import api from "../../config/api";
    import InvitationMessage from "../common/InvitationMessage";
    import Pagination from "../common/Pagination";
    import Navigation from "./common/Navigation";

    export default {
        components: {Pagination, InvitationMessage, Multiselect, Navigation},
        data() {
            return {
                find: {
                    region: ''
                },
                country: {},
                states: [],
                state: {},
                programs: [],
                invitationProgram: {},
                pagination: {
                    'current_page': 1
                },
            }
        },
        computed: {
            countries: {
                get: function () {
                    return this.$store.getters.countries;
                },
                set: function (countries) {
                    return countries;
                }
            },
            regions() {
                return this.$store.getters.regions;
            }
        },
        mounted() {
            if (!this.countries.length) {
                this.$store.dispatch('countryListAction');
            }

            if (!this.regions.length) {
                this.$store.dispatch('regionListAction');
            }
        },
        methods: {
            sendInvitation(program) {
                this.invitationProgram = program;
            },
            getStates() {
                axios.get(api.states + '/country/' + this.country.id).then(res => {
                    this.states = res.data;
                })
            },
            getCountriesList() {
                if (this.find.region) {
                    this.countries = this.$store.getters.countriesByRegion(this.find.region);
                }
            },

            findPrograms() {
                this.find.state = this.state ? this.state.id : '';
                this.find.country = this.country ? this.country.id : '';

                axios.get(api.findInstitutePrograms + '?page=' + this.pagination.current_page + '&' + this.readyFilter()).then(res => {
                    this.programs = res.data.data;
                })
            },

            readyFilter() {
                let query = '';

                _.forEach(this.find, (value, key) => {
                    if (value) {
                        query += key + '=' + value + '&';
                    }
                });

                return query;
                //return Object.keys(this.find).map(key => this.find[key]?key + '=' + this.find[key]:'').join('&');
            },
            closeModal() {
                this.invitationProgram = {};
            }
        }

    }
</script>
