<template>
    <div class="custom_Connection_area list_connection_area">

        <h2>Invitations ({{invitations.length}})
            <template v-if="invitations.length">
                <button @click="ignoreAllRequest">Ignore All</button>
                <button @click="acceptAllRequest">Accept All</button>
            </template>
        </h2>

        <template v-if="invitations.length">
            <template v-for="(invitation, key) in invitations">
                <single-invitation :invitation="invitation"></single-invitation>
            </template>
            <pagination :pagination="pagination" @paginate="invitationList()"></pagination>
        </template>

        <template v-if="!invitations.length && pagination.total===0">
            <p>No invitation found</p>
        </template>

    </div>
</template>

<script>
    import Navigation from "./common/Navigation";
    import Pagination from "../common/Pagination";
    import api from "../../config/api";
    import SingleInvitation from "./common/SingleInvitation";

    export default {
        components: {SingleInvitation, Pagination, Navigation},
        data() {
            return {
                invitations: [],
                pagination: {current_page: 1},
                auth: window.auth,
            }
        },
        created() {
            this.invitationList();
        },
        methods: {
            invitationList() {
                let inviteFor = '';
                if (auth.role_id === 2)
                    inviteFor = 'student';
                else if (auth.role_id === 3)
                    inviteFor = 'program';
                else if (auth.role_id === 4)
                    inviteFor = 'course';

                axios.get(api.invitationPendingList + '/' + inviteFor).then(res => {
                    this.invitations = res.data.data;
                    this.pagination = res.data;
                    this.pagination.data = undefined;
                })
            },
            acceptAllRequest() {
                axios.patch(api.acceptAllInvitationRequest).then(res => {
                    _.forEach(this.invitations, (value, key) => {
                        this.$set(this.invitations[key], 'accept', true)
                    })
                });
            },
            ignoreAllRequest() {
                axios.patch(api.ignoreAllInvitationRequest).then(res => {
                    _.forEach(this.invitations, (value, key) => {
                        this.$set(this.invitations[key], 'ignore', true)
                    })
                });
            }
        }
    }
</script>

