<template>
    <transition name="fade">
        <div class='profile-contact-detils-block mb-4'>
            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    width="60%"
                    name="contact_details_modal">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update Contact details
                        </div>
                        <div class="float-right">
                            <i @click="close_contact_details_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6 mx-auto' v-if="countries">
                                <div class='form-group row'>
                                    <label class='col-md-4 col-form-label text-md-right'>Country</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <multiselect
                                                name="title"
                                                v-model="country"
                                                :options="countries"
                                                v-validate="'required'"
                                                data-vv-name="title"
                                                data-vv-value-path="title"
                                                placeholder="Select one"
                                                :show-labels="false"
                                                label="title"
                                                track-by="title">
                                        </multiselect>
                                        <span class='d-block text-danger' v-show="errors.has('title')">{{ errors.first('title') }}</span>

                                    </div>
                                </div>
                            </div>
                            <div class='col-md-4 mx-auto'>
                                <div class='form-group row'>
                                    <label for='city' class='col-md-3 col-form-label text-md-right'>City</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model='contact.city' type='text' name='city' id='city'
                                               v-validate="'required'"
                                               class="form-control"/>
                                        <span class='d-block text-danger' v-show="errors.has('city')">{{ errors.first('city') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-10 mx-auto'>
                                <div class='form-group row'>
                                    <label class='col-md-2 col-form-label text-md-right'>Address</label>
                                    <div class='col-md-10 address Common_form_group'>
                                        <vue-google-autocomplete
                                                id="map"
                                                classname="form-control"
                                                name="address"
                                                required="required"
                                                placeholder="Start typing"
                                                @keyup="getTextInput"
                                                :value=contact.address
                                                v-on:placechanged="getAddressData"
                                                :country="country?country.code:'us'">
                                        </vue-google-autocomplete>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-10'>
                                <div class="d-flex justify-content-end mt-3 contact-us">
                                    <button v-if="!loading" class="btn btn-primary" @click="store">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>

            <div class='card'>
                <div class='card-header'>
                    Contact Details
                </div>
                <div class='card-body'>
                    <div v-if="isEditable" class='d-flex justify-content-end'>
                        <button @click="open_contact_details_modal" class="btn btn-primary"><i
                                class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <div v-if="contact.address">
                        <p>Address: {{contact.address}}</p>
                        <p>City: {{contact.city}}</p>
                    </div>
                    <div v-else>
                        No Contact details has added yet
                    </div>
                </div>
            </div>


            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height='auto'
                    width="60%"
                    name="social_info_modal">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update social profile
                        </div>
                        <div class="float-right">
                            <i @click="close_social_info_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='form-group row'>
                            <label for='facebook' class='col-md-3 col-form-label text-md-right'>Facebook URL</label>
                            <div class="col-md-8 Common_form_group">
                                <input v-model='social.facebook_url' v-validate="'url'" type='text' name='facebook'
                                       id='facebook'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('facebook')">{{ errors.first('facebook') }}</span>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label for='twitter' class='col-md-3 col-form-label text-md-right'>Twitter</label>
                            <div class="col-md-8 Common_form_group">
                                <input v-model='social.twitter_url' v-validate="'url'" type='text' name='twitter'
                                       id='twitter'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('twitter')">{{ errors.first('twitter') }}</span>
                            </div>
                        </div>

                        <div class='form-group row'>
                            <label for='instragram' class='col-md-3 col-form-label text-md-right'>Instragram</label>
                            <div class="col-md-8 Common_form_group">
                                <input v-model='social.instragram_url' v-validate="'url'" type='text' name='instragram'
                                       id='instragram'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('instragram')">{{ errors.first('instragram') }}</span>
                            </div>
                        </div>
                        <div class='form-group row'>
                            <label for='google' class='col-md-3 col-form-label text-md-right'>Google</label>
                            <div class="col-md-8 Common_form_group">
                                <input v-model='social.google_url' v-validate="'url'" type='text' name='google'
                                       id='google'
                                       class="form-control"/>
                                <span class='d-block text-danger' v-show="errors.has('google')">{{ errors.first('google') }}</span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-11'>
                                <div class="d-flex justify-content-end  mt-3">
                                    <button v-if="!social_loading" class="btn btn-primary"
                                            @click="post_social_media_details">
                                        Save
                                    </button>
                                    <button v-if="social_loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </modal>
            <div class='card mt-4'>
                <div class='card-header'>
                    Social media details
                </div>
                <div class='card-body'>
                    <div v-if="isEditable" class='d-flex justify-content-end'>
                        <button @click="open_social_info_modal" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <div v-if="hasFieldInSocialUrl">
                        <p v-if='social.facebook_url'>Facebook: {{social.facebook_url}}</p>
                        <p v-if='social.twitter_url'>Twitter: {{social.twitter_url}}</p>
                        <p v-if='social.instragram_url'>Instragram: {{social.instragram_url}}</p>
                        <p v-if='social.google_url'>Google: {{social.google_url}}</p>
                    </div>
                    <div v-if="!hasFieldInSocialUrl">
                        No Social link found
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import VueGoogleAutocomplete from 'vue-google-autocomplete'
    import Multiselect from 'vue-multiselect'
    import api from "../../config/api";


    export default {
        components: {VueGoogleAutocomplete, Multiselect},
        data() {
            return {
                contact: {
                    country: '',
                    city: '',
                    address: '',
                    lat: '',
                    lng: '',
                },
                country: {
                    code: 'us'
                },
                social: {
                    facebook_url: 'hello',
                    twitter_url: '',
                    instragram_url: '',
                    google_url: '',
                },
                loading: false,
                success: false,
                error: false,

                social_loading: false,
                social_success: false,
                social_error: false,
                auth: window.auth

            }
        },
        methods: {
            update_contact() {
                console.log('contact', this.contact);
            },
            open_contact_details_modal() {
                this.$modal.show('contact_details_modal')
            },
            close_contact_details_modal() {
                this.$modal.hide('contact_details_modal')
            },
            open_social_info_modal() {
                this.$modal.show('social_info_modal')
            },
            close_social_info_modal() {
                this.$modal.hide('social_info_modal')
            },

            get_contact_details() {
                axios.get(api.address + '/' + auth.id).then(response => {
                    if (response.data) {
                        this.contact = response.data;
                    }
                })
            },
            get_social_media_details() {
                axios.get(api.socialList + '/' + auth.id).then(response => {
                    console.log('response', response.data);
                    this.social = response.data;
                })
            },
            /*post_contact_details() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.contact.country = this.country.title;
                        axios.post(api.storeContact, this.contact).then(response => {
                            console.log('response', response);
                            this.loading = false;
                            if (response.data.error) {
                                this.error = true;
                            } else {
                                this.success = true;
                                this.close_contact_details_modal();
                            }
                        }).catch(error => {
                            this.loading = false;
                        })
                    }
                });
            },*/
            post_social_media_details() {
                this.social_loading = true;
                axios.post(api.storeSocial, this.social).then(response => {
                    console.log('response', response);
                    this.social_loading = false;
                    if (response.data.error) {
                        this.social_error = true;
                    } else {
                        this.social_success = true;
                        this.close_social_info_modal();
                    }
                }).catch(error => {
                    this.loading = false;
                })
            },

            store() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        this.contact.country_id = this.country.id;
                        if (this.contact.id) {
                            this.updateAddress();
                        } else {
                            this.postAddress();
                        }
                    }
                });
            },
            updateAddress() {
                axios.put(api.address + '/' + this.contact.id, this.contact).then(response => {
                    this.loading = false;
                    this.close_contact_details_modal();
                    this.get_contact_details();
                }).catch(er => {
                    if (er.response && er.response.data && er.response.data.errors) {
                        this.fErrors = er.response.data.errors;
                    }
                    console.log(this.fErrors);
                    this.loading = false;
                })

            },
            postAddress() {
                axios.post(api.address, this.contact).then(response => {
                    this.loading = false;
                    this.contact = {};
                    this.close_contact_details_modal();
                    this.get_contact_details();
                }).catch(er => {
                    if (er.response && er.response.data && er.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            getAddressData: function (addressData, placeResultData, id) {
                this.contact.address = placeResultData.formatted_address;
                this.contact.lat = addressData.latitude;
                this.contact.lng = addressData.longitude;
                this.contact.city = addressData.locality ? addressData.locality : this.contact.city;
            },
            getTextInput(e) {
                this.contact.address = e.target.value;
            }

        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(window.auth.id)
            },
            hasFieldInSocialUrl() {
                return this.social.facebook_url || this.social.twitter_url || this.social.instragram_url || this.social.google_url;
            },
            countries() {
                return this.$store.getters.countries;
            }

        },
        mounted() {
            this.get_contact_details();
            this.get_social_media_details();
            this.$store.dispatch('countryListAction');

            let recaptchaScript = document.createElement('script');
            recaptchaScript.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBkIwy8vc2Q-_wqNPoAQdY7n6KWaenSu2w&libraries=places');
            document.head.appendChild(recaptchaScript)
        },
    }
</script>

<style scoped lang="scss">
    .address {
        padding-left: 5px;
    }

    .contact-us {
        .btn {
            margin-right: -67px;
        }
    }
</style>
