<template>
    <transition name="fade">
        <div class='user_experiences_block'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height="auto"
                    width="60%"
                    name="user_experiences">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update experience details
                        </div>
                        <div class="float-right popup_close_ic">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='title' class='col-4 col-form-label text-md-right'>Experience
                                        title</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input class="form-control"
                                               type='text'
                                               v-model='experience.title'
                                               name='title'
                                               v-validate="'required'"
                                               placeholder="experience title"
                                               id='title'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['title']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['title']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='from_date' class='col-4 col-form-label text-md-right'>From date</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input v-model='experience.from_date'
                                               class="form-control"
                                               type='date'
                                               name='from_date'
                                               v-validate="'required'"
                                               ref="afterTarget"
                                               id='from_date'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('from_date')">{{ errors.first('from_date') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['from_date']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['from_date']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='from_date' class='col-4 col-form-label text-md-right'>Continue</label>
                                    <div class='col-md-2 popup_checkbox'>
                                        <input type="checkbox" v-model="experience.continue"
                                               @change="checkIfContinue"
                                               class="form-control" id="continute">
                                    </div>
                                </div>


                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='institute_id'
                                           class='col-4 col-form-label text-md-right'>Institute</label>
                                    <div class='col-md-8 Common_form_group'>

                                        <multiselect
                                                id="institute_id"
                                                v-model="experience.institute"
                                                :options="institutes"
                                                placeholder="Select one"
                                                tag-placeholder="append"
                                                label="title"
                                                :show-labels="false"
                                                track-by="title"
                                                :taggable="true"
                                                @tag="addNewInstitute"
                                        >
                                        </multiselect>
                                    </div>
                                    <template v-if="this.fErrors && this.fErrors['institute_id']">
                                        <span class='d-block text-danger' v-for="error in this.fErrors['institute_id']">{{ error}}</span>
                                    </template>
                                </div>
                                <div class='form-group row'>
                                    <label for='to_date' class='col-4 col-form-label text-md-right'>To date</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input v-model='experience.to_date'
                                               @change="checkToDate"
                                               class="form-control"
                                               type='date'
                                               v-validate="'after:afterTarget', requireIf"
                                               name='to_date' id='to_date'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('to_date')">{{ errors.first('to_date') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['to_date']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['to_date']">{{ error}}</span>
                                        </template>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button v-if="!loading" class="btn btn-warning mr-3" @click="experience={}">
                                        Reset
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="post_experiences_details">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </modal>

            <div class='card'>
                <div class='card-header'>
                    <div class="float-left">
                        My work experiences record
                    </div>
                    <div class="float-right">
                        <div v-if="isEditable" class='d-flex justify-content-end'>
                            <button @click="open_experiences_details_modal" class="btn btn-primary"><i
                                    class='fa fa-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='card-body'>

                    <div v-if="experiences.length" class='table-responsive'>
                        <table class='table table-bordered'>
                            <tr>
                                <th>Title</th>
                                <th>Institute</th>
                                <th>Form</th>
                                <th>To</th>
                                <th v-if="isEditable">action</th>
                            </tr>
                            <tr v-for="item in experiences">
                                <td>{{item.title}}</td>
                                <td>{{item.institute.name}}</td>
                                <td>{{item.from_date}}</td>
                                <td>{{item.to_date?item.to_date:item.continue?'Present':''}}</td>
                                <td v-if="isEditable">
                                    <button @click="edit_experiences_item(item.id)" class="btn btn-primary"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="delete_experiences_item(item.id)" class="btn btn-warning"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                        <!-- /.table table-bordered -->
                    </div>
                    <h2 v-if="!experiences.length" class="text-center">No experience record found</h2>
                </div>
                <!-- /.card-body -->
                <!-- /.card-header -->
            </div>
        </div>
    </transition>
</template>
<script>
    import Multiselect from 'vue-multiselect'
    import api from "../../config/api";

    export default {
        components: {Multiselect},
        data() {

            return {
                experience: {},
                experiences: [],
                edit_id: '',
                loading: false,
                fErrors: {}
            }
        },
        mounted() {
            this.get_experiences_details();
            this.$store.dispatch('setInstituteAction');
        },
        methods: {
            post_experiences_details() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        if (this.edit_id) {
                            this.updateExperience();
                        } else {
                            this.postExperience();
                        }
                    }
                });
            },
            updateExperience() {
                this.experience['institute_id'] = this.experience.institute.id;
                axios.put(api.experience + '/' + this.edit_id, this.experience).then(response => {
                    this.loading = false;
                    this.edit_id = '';
                    this.experience = {};
                    this.closeModal();
                    this.get_experiences_details();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    console.log(this.fErrors);
                    this.loading = false;
                })

            },
            postExperience() {
                this.experience['institute_id'] = this.experience.institute.id;
                axios.post(api.experience, this.experience).then(response => {
                    this.loading = false;
                    this.experience = {};
                    this.closeModal();
                    this.get_experiences_details();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            get_experiences_details() {
                axios.get(api.experience + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data);
                    this.experiences = response.data;
                })
            },
            delete_experiences_item(id) {
                axios.delete(api.experience + '/' + id).then(response => {
                    this.get_experiences_details();
                })
            },
            edit_experiences_item(id) {
                let experience = this.experiences.find(experience => experience.id === id);
                this.experience = {...experience};
                this.edit_id = experience.id;
                this.open_experiences_details_modal();
            },

            open_experiences_details_modal() {
                this.$modal.show('user_experiences');
            },
            closeModal() {
                this.$modal.hide('user_experiences')
            },
            addNewInstitute(newInstitute) {
                this.$store.dispatch('addNewInstituteAction', {title: newInstitute})
            },
            checkIfContinue() {
                if (this.experience.continue) {
                    this.experience.to_date = null;
                }
            },

            checkToDate() {
                if (this.experience.to_date) {
                    this.experience.continue = false;
                }
            }

        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            institutes() {
                return this.$store.getters.institutes;
            },
            requireIf() {
                return !this.experience.continue ? 'required' : '';
            }
        },
    }
</script>
<style>
    .multiselect__tags {
        padding: 4px 26px 0 4px;
    }
</style>
