<template>
    <transition name="fade">
        <div class='user_licences_block'>

            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    :scrollable="true"
                    height="auto"
                    width="60%"
                    name="user_licences">
                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            {{edit_id?'Update' :'Create'}} licence
                        </div>
                        <div class="float-right">
                            <i @click="closeModal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class='card-body popup_form'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='title' class='col-5 col-form-label text-md-right'>Licence
                                        title</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input class="form-control"
                                               type='text'
                                               v-model='licence.title'
                                               name='title'
                                               v-validate="'required'"
                                               placeholder="licence title"
                                               id='title'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('title')">{{ errors.first('title') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['title']">
                                            <span class='d-block text-danger' v-for="error in this.fErrors['title']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='start_date' class='col-5 col-form-label text-md-right'>Start
                                        date</label>
                                    <div class='col-md-7 Common_form_group'>
                                        <input v-model='licence.start_date'
                                               class="form-control"
                                               type='date'
                                               v-validate="'required|date_format:YYYY-MM-DD'"
                                               ref="startDate"
                                               data-vv-as="start date"
                                               name='start date' id='start_date'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('start_date')">{{ errors.first('start date') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['start date']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['start_date']">{{ error}}</span>
                                        </template>

                                    </div>
                                </div>


                            </div>
                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='authority' class='col-3 col-form-label text-md-right'>Authority</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input class="form-control"
                                               type='text'
                                               v-model='licence.authority'
                                               name='authority'
                                               v-validate="'required'"
                                               placeholder="licence authority"
                                               id='authority'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('authority')">{{ errors.first('authority') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['authority']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['authority']">{{ error}}</span>
                                        </template>
                                    </div>
                                </div>
                                <div class='form-group row'>
                                    <label for='valid_till' class='col-3 col-form-label text-md-right'>Valid
                                        till</label>
                                    <div class='col-md-8 Common_form_group'>
                                        <input v-model='licence.valid_till'
                                               class="form-control"
                                               type='date'
                                               v-validate="'date_format:YYYY-MM-DD|after:startDate'"
                                               data-vv-as="valid till"
                                               name='valid_till' id='valid_till'/>
                                        <span class='d-block text-danger'
                                              v-show="errors.has('valid_till')">{{ errors.first('valid_till') }}</span>
                                        <template v-if="this.fErrors && this.fErrors['valid_till']">
                                            <span class='d-block text-danger'
                                                  v-for="error in this.fErrors['valid_till']">{{ error}}</span>
                                        </template>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end mt-3">
                                    <button v-if="!loading" class="btn btn-warning mr-3" @click="licence={}">
                                        Reset
                                    </button>
                                    <button v-if="!loading" class="btn btn-primary" @click="store">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </modal>

            <div class='card'>
                <div class='card-header'>
                    <div class="float-left">
                        My licences
                    </div>
                    <div class="float-right">
                        <div v-if="isEditable" class='d-flex justify-content-end'>
                            <button @click="openLicence" class="btn btn-primary"><i
                                    class='fa fa-plus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='card-body'>

                    <div v-if="licences.length" class='table-responsive'>
                        <table class='table table-bordered'>
                            <tr>
                                <th>Title</th>
                                <th>Authority</th>
                                <th>Form</th>
                                <th>To</th>
                                <th v-if="isEditable">action</th>
                            </tr>
                            <tr v-for="item in licences">
                                <td>{{item.title}}</td>
                                <td>{{item.authority}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.valid_till}}</td>
                                <td v-if="isEditable">
                                    <button @click="editLicence(item.id)" class="btn btn-primary"><i
                                            class='fas fa-pencil-alt'></i></button>
                                    <button @click="deleteLicence(item.id)" class="btn btn-warning"><i
                                            class='fa fa-trash'></i></button>
                                </td>
                            </tr>
                        </table>
                        <!-- /.table table-bordered -->
                    </div>
                    <h2 v-if="!licences.length" class="text-center">No licence record found</h2>
                </div>
                <!-- /.card-body -->
                <!-- /.card-header -->
            </div>
        </div>
    </transition>
</template>
<script>
    import api from "../../config/api";

    export default {
        data() {

            return {
                licence: {},
                licences: [],
                edit_id: '',
                loading: false,
                fErrors: {}
            }
        },
        mounted() {
            this.licenceList();
        },
        methods: {
            store() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.loading = true;
                        if (this.edit_id) {
                            this.updateLicence();
                        } else {
                            this.edit_id = '';
                            this.postLicence();
                        }
                    }
                });
            },
            updateLicence() {
                axios.put(api.licence + '/' + this.edit_id, this.licence).then(response => {
                    this.loading = false;
                    this.edit_id = '';
                    this.licence = {};
                    this.closeModal();
                    this.licenceList();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    console.log(this.fErrors);
                    this.loading = false;
                })

            },
            postLicence() {
                axios.post(api.licence, this.licence).then(response => {
                    this.loading = false;
                    this.licence = {};
                    this.closeModal();
                    this.licenceList();
                }).catch(error => {
                    if (error.response.data && error.response.data.errors) {
                        this.fErrors = error.response.data.errors;
                    }
                    this.loading = false;
                })
            },
            licenceList() {
                axios.get(api.licence + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data);
                    this.licences = response.data;
                })
            },
            deleteLicence(id) {
                axios.delete(api.licence + '/' + id).then(response => {
                    this.licenceList();
                })
            },
            editLicence(id) {
                let licence = this.licences.find(licence => licence.id === id);
                this.licence = {...licence};
                this.edit_id = licence.id;
                this.openLicence();
            },

            openLicence() {
                this.$modal.show('user_licences');
            },
            closeModal() {
                this.$modal.hide('user_licences');
                this.edit_id = '';
            },

        },
        computed: {
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            requireIf() {
                return !this.licence.continue ? 'required' : '';
            }
        },
    }
</script>
<style>
    .multiselect__tags {
        padding: 4px 26px 0 4px;
    }
</style>
