<template>
    <transition name="fade">
        <div class='profile-address-block'>
            <modal
                    transition="scale"
                    :adaptive="true"
                    :draggable="true"
                    width="60%"
                    height="auto"
                    name="personal_info_modal">

                <div class='card border-0'>
                    <div class='card-header'>
                        <div class="float-left">
                            Update Personal Info
                        </div>
                        <div class="float-right">
                            <i @click="close_personal_info_modal" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class='card-body popup_form'>
                        <div class="alert alert-danger" role="alert" v-if="errorMessage">
                            {{ errorMessage }}
                        </div>

                        <div class='row'>

                            <div class='col-md-6'>
                                <div class='form-group row'>
                                    <label for='name' class='col-3 col-form-label text-md-right'>Name</label>
                                    <div class='col-9 Common_form_group'>
                                        <input id="name"
                                               type="text"
                                               class="form-control"
                                               v-validate="'required'"
                                               name="name"
                                               v-model="profile.name">
                                        <span class='d-block text-danger' v-show="errors.has('name')">{{ errors.first('name') }}</span>
                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='gender' class='col-3 col-form-label text-md-right'>Gender</label>
                                    <div class='col-9 Common_form_group'>
                                        <select v-model="profile.gender"
                                                name='gender'
                                                v-validate="'required'"
                                                id='gender'
                                                class='form-control'>
                                            <option disabled value="">Please select one</option>
                                            <option value='Male'>Male</option>
                                            <option value='Female'>Female</option>
                                        </select>
                                        <span class='d-block text-danger' v-show="errors.has('gender')">{{ errors.first('gender') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-6'>

                                <div class='form-group row'>
                                    <label for='user_name' class='col-3 col-form-label text-md-right'>User Name</label>
                                    <div class='col-9 Common_form_group'>
                                        <input id="user_name" type="text" class="form-control" name="user_name"
                                               v-validate="'required'"
                                               v-model="profile.user_name">
                                        <span class='d-block text-danger' v-show="errors.has('user_name')">{{ errors.first('user_name') }}</span>
                                    </div>
                                </div>

                                <div class='form-group row'>
                                    <label for='birth' class='col-3 col-form-label text-md-right'>Date of birth</label>
                                    <div class='col-9 Common_form_group'>
                                        <input v-model="profile.date_of_birth"
                                               id="birth"
                                               type="date"
                                               v-validate="'required|date_format:YYYY-MM-DD'"
                                               class="form-control"
                                               name="birth">
                                        <span class='d-block text-danger' v-show="errors.has('birth')">{{ errors.first('birth') }}</span>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-5 ml-auto">
                                <div class="form-group Common_form_group">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">Choose File</div>
                                            <div class="file-select-name" id="noFile">No file chosen...</div>
                                            <input name="image"
                                                   id="chooseFile"
                                                   v-on:change="handleFileChange()"
                                                   accept="image/jpeg,image/png,image/*"
                                                   ref="file"
                                                   placeholder=""
                                                   type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mx-auto">
                                <div v-if="avaterUrl" class="user-avater">
                                    <img :src="avaterUrl" alt="">
                                    <button class="btn btn-info" @click="setActiveResize">Resize</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-4 d-none">
                            <div class='col-md-8 mx-auto'>
                                <label class="d-flex justify-content-center align-items-center ">
                                    <input id="terms_and_condition1" class="mx-3" type='checkbox'/>
                                    <span>I agree to Terms and conditions. That any information may result in the cancellation of admissions, or you can be block listed to the all our affiliate sites</span>
                                </label>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="d-flex justify-content-end submit-btn">
                                    <button v-if="!loading" class="btn btn-primary" @click="informationSubmit">
                                        Save
                                    </button>
                                    <button v-if="loading" class='btn btn-primary'>
                                        <i class="fas fa-spinner fa-spin" style="font-size:24px"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </modal>

            <div class='card'>
                <div class='card-header'>
                    Personal Information
                </div>
                <div class='card-body'>
                    <div v-if="isEditable" class='d-flex justify-content-end'>
                        <button @click="open_personal_info_modal" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                    <p>Name: {{profile.name}}</p>
                    <p>User Name: {{profile.user_name}}</p>
                    <p v-if='profile.gender'>Gender: {{profile.gender}}</p>
                    <p v-if='profile.date_of_birth'>Date of Birth: {{profile.date_of_birth}}</p>
                </div>
                <image-cropper
                        v-if="avaterUrl && activeResize"
                        :image="avaterUrl"
                        @uploadImage="uploadAvatar">
                </image-cropper>
            </div>
        </div>
    </transition>
</template>

<script>
    import api from "../../config/api";
    import slugify from '../../filters/Slugify'
    import ImageCropper from '../common/ImageCropper'

    export default {
        components: {ImageCropper},
        data() {
            return {
                profile: {
                    date_of_birth: "",
                    gender: "",
                    name: "",
                    user_name: "",
                },
                file: '',
                uploadAvater: '',
                loading: false,
                imageUpload: false,
                success: false,
                error: false,
                errorText: '',
                formErrors: {},
                errorMessage: '',
                activeResize:false
            }
        },
        methods: {
            get_profile_personal_info() {
                axios.get(api.profileInfo + '/' + this.$store.getters.profile_id).then(response => {
                    console.log('response', response.data)
                    this.profile = response.data;
                })
            },

            getProfileImage() {
                axios.get(api.avater + '/' + this.$store.getters.profile_id).then(response => {
                    if (response.data && response.data.length && response.data[0].filename)
                        this.uploadAvater = response.data[0].filename;
                })
            },
            open_personal_info_modal() {
                this.$modal.show('personal_info_modal');
                this.activeResize=false;
            },
            close_personal_info_modal() {
                this.$modal.hide('personal_info_modal')
            },
            informationSubmit() {
                this.profile = {
                    ...this.profile,
                    user_name: slugify(this.profile.user_name)
                };

                this.post_profile_personal_info(this.profile);

            },
            check_empty_input(key) {
                if (!this.profile[key]) {
                    this.formErrors = {
                        ...this.formErrors,
                        [key]: true,
                    };
                    return true;
                } else {
                    this.formErrors = {
                        ...this.formErrors,
                        [key]: false,
                    };
                    return false;
                }
            },


            post_profile_personal_info(data) {
                this.$validator.validateAll().then((valid) => {
                    if (valid && this.isFormDirty || this.file) {
                        this.loading = true;
                        this.error = false;
                        axios.post(api.postProfile, data).then(response => {
                            this.loading = false;

                            if (response.data.error) {
                                this.error = true;
                            } else {
                                this.success = true;
                                this.$swal({
                                    type: 'success',
                                    title: 'Updated',
                                    text: response.data.success,
                                });
                                this.close_personal_info_modal();
                            }
                        }).catch(error => {
                            console.log(error.errors);
                            this.loading = false;
                        });
                    } else {
                        this.errorMessage = 'No change of the form'
                    }
                });
            },
            handleFileChange() {
                this.file = this.$refs.file.files[0];
                console.log(this.file);
                this.uploadAvatar(this.file)
            },
            uploadAvatar(file){
                this.imageUpload = true;
                let formData = new FormData();
                formData.append('file', file);

                axios.post(api.avater, formData).then(res => {
                    if (res.data) {
                        this.uploadAvater = res.data.url;
                        this.$store.dispatch('setUserAvater', this.uploadAvater);
                    }
                    this.imageUpload = false;
                }).catch(error => {
                    this.imageUpload = false;
                });
            },
            setActiveResize(){
                this.$modal.hide('personal_info_modal');
                this.activeResize=true;
            }
        },
        mounted() {
            this.get_profile_personal_info();
            this.getProfileImage();

        },
        computed: {
            errorComputed() {
                return this.error;
            },
            isEditable() {
                return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
            },
            isFormDirty() {
                return Object.keys(this.fields).some(key => this.fields[key].dirty);
            },
            avaterUrl() {
                return this.$store.getters.authUser.avater;
            }
        },
    }
</script>

<style scoped lang="scss">

    .user-avater img {
        max-width: 60px;
        max-height: 60px;
    }

</style>
