<template>
    <section class="student_profile_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="student_profile_left">
                        <h2 v-if="auth.role_id===3 && auth.institute">{{auth.institute.title}}</h2>
                        <h2 v-else>{{auth.name}}</h2>
                        <div class="student_left_author">
                            <img :src="auth.avater" alt="">
                            <div class="student_left_author_text">
                                <template v-if="auth.role_id!==3">
                                    <!--<p v-if="auth.educations && auth.educations.length && auth.educations[auth.educations.length]">{{auth.educations[auth.educations.length].title}}
                                        <br>Charlotte, NC 28270 <br> Grad Year: 2018</p>-->
                                    <p v-if="auth.address">{{auth.address.address}}</p>
                                </template>
                                <template v-else>
                                    <p v-if="auth.institute && auth.institute.education_level">{{auth.institute.education_level.title}}
                                        <!--<br>Charlotte, NC 28270 <br> Grad Year: 2018--></p>
                                    <p v-if="auth.address && auth.address.length">{{auth.address[auth.address.length-1].address}}</p>
                                </template>

                                <a href="mailto:thetelantedmireya@gmail.com">{{auth.email}}</a>
                               <!-- <h2><span><img src="../../../images/trophy.png" alt=""> Honors/Advanced Courses</span>
                                </h2>-->
                            </div>
                        </div>
                    </div>
                    <div class="student_profile_left_list">
                        <div class="clearfix"></div>
                        <template v-if="auth.educations && auth.educations.length">
                            <h2>Education</h2>
                            <div class="student_profile_left_list_item">
                                <div class="student_profile_left_list_item_inner" v-for="education in auth.educations">
                                    <img src="../../../images/student-profile-img2.png" alt="">
                                    <h2 v-if="education.institute">{{education.institute.title}}</h2>
                                    <p>{{education.level}}</p>
                                    <p>Completion:<span>{{education.completion_date}}</span></p>
                                    <p>Activities and Societies: Dramatics, Managements, Arts, Games</p>
                                    <p class="student_profile_left_border"><span>Got best performance award</span></p>
                                </div>
                            </div>
                        </template>

                        <template v-if="auth.role_id===3 && auth.institute && auth.institute.programs">
                            <h2>Education Programs</h2>
                            <div class="student_profile_left_list_item">
                                <div class="student_profile_left_list_item_inner" v-for="program in auth.institute.programs">
                                    <img src="../../../images/student-profile-img2.png" alt="">
                                    <h2>{{auth.institute.title}}</h2>
                                    <p>Fee:<span>{{program.fee}}</span></p>
                                    <p>Description:<span>{{program.description}}</span></p>
                                    <p class="student_profile_left_border">Admission Date:<span>{{program.admission_date}}</span></p>
                                </div>
                            </div>
                        </template>

                        <template v-if="auth.ielts && auth.ielts.length">
                            <h2>IELTS / Tofel Scores</h2>
                            <div class="student_profile_left_list_item" v-for="ielts in auth.ielts">
                                <div class="student_profile_left_list_item_inner">
                                    <img src="../../../images/student-profile-img2.png" alt="">
                                    <h2 v-if="ielts.exam_level">{{ielts.exam_level.title}}</h2>
                                    <p>Grade {{ielts.grade}}</p>
                                    <p>Taken on <span>{{ielts.taken_on}}</span></p>
                                    <p>Score {{ielts.score}}</p>
                                    <p class="student_profile_left_border"><span>Got best performance award</span></p>
                                </div>
                            </div>
                        </template>
                        <template v-if="auth.interests && auth.interests.length">
                            <h2>Interests</h2>
                            <div class="student_profile_left_list_item clearfix ">
                                <ul>
                                    <li v-for="interest in auth.interests">{{interest.title}}</li>
                                </ul>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "PublicProfile",
        computed: {
            auth() {
                return this.$store.getters.authUser;
            }
        }
    }
</script>

<style scoped>
    .student_left_author img{
        max-height: 150px;
        max-width: 150px;
    }
</style>